[2022-03-28 14:44] jeffbrown commented on #12409
@kgeis Thank you for the feedback.  It is good information.  We will investigate updating the docs.

In the meantime, some more information related to retrieving config values is available at [grails.org/blog/2017-01-20-3.html](https://grails.org/blog/2017-01-20-3.html) and [grails.org/blog/index.html](https://grails.org/blog/index.html).

Thank you!

[2022-03-28 15:15] jeffscottbrown commented on #12407
Thank you @rainboyan!

The **Installing Local Plugins** section at https://docs.grails.org/5.1.4/guide/plugins.html#creatingAndInstallingPlugins does describe how to configure `maven-publish` to install to your `mavenLocal()` using `publishToMavenLocal`.  That is a common technique that Grails devs use.

[2022-03-28 15:21] jeffscottbrown commented on #12407
[code]

[2022-03-28 15:22] jeffscottbrown commented on #12407
@puneetbehl Do you think the `install` command should be repaired, or the docs should be updated?

[2022-03-28 15:25] jeffscottbrown commented on #12407
If all you want to do is publish to maven local, you don't have to do anything with `githubSlug`.

[2022-03-28 15:45] puneetbehl commented on #12407
I think we should drop the support for `install` command as it might be redundant to what `publishToMavenLocal` would do.

[2022-03-28 15:47] puneetbehl commented on #12407
@rainboyan I think you should not use the `org.grails.internal.grails-plugin-publish` as it only for Grails Core projects internal use and it might change as the need of those projects which might differ from the needs of community projects or plugins. I would recommend configuring your build manually.

[2022-03-29 10:38] rainboyan commented on #12407
@puneetbehl I see. Grails profile `plugin` contains [`install` command](https://github.com/grails-profiles/plugin/blob/master/commands/install.yml) which call Gradle task `install`(doesn't actually exist) ,  while `org.grails.internal.grails-plugin-publish` offer `install` task that depends on `publishToMavenLocal`, I think we should keep `install` command, because it's useful and simple.
We could

[2022-03-29 11:37] torbjorn-boost opened #12451 "Domain class variable not initialized if final when accessed from Java class"
### Expected Behavior

I've upgraded from Grails 4 to 5, and from Java 8 to 17, and this started happening:

Having this domain class:
[code]

... and this Java service:

[code]

... I would expect the code to print 1 and 2.

### Actual Behaviour

It prints 0 and 0, as though the variables have not been initialized.

If I print the variables from a static initializer in the Domain class, like this

[2022-03-29 15:20] jeffscottbrown commented on #12451
See the project at [github.com/jeffbrown/torbjorn-boost-constants](https://github.com/jeffbrown/torbjorn-boost-constants).

[grails-app/domain/torbjorn/boost/constants/Role.groovy](https://github.com/jeffbrown/torbjorn-boost-constants/blob/8bf1537c3f109095aad4aed0d605338a2c74ea98/grails-app/domain/torbjorn/boost/constants/Role.groovy)

[code]

[src/main/groovy/torbjorn/boost/constants/RoleService.

[2022-03-29 16:02] jeffscottbrown commented on #12451
I think the fact that it is printing 1 and 2 is evidence that it **is** seeing the variables.

[2022-03-29 19:04] jaGarcia commented on #12443
Hi @jeffbrown I did some work and isolated it to the introduction of the following dependency in the dependencies block:

 agent "org.springframework:springloaded:1.3.0.BUILD-20210404.024037-2"

Unfortunately I've been unable to migrate to JDK9+ due to the super slow hotswap/restart times of grails in the absence of springloaded. I even tried JRebel and still have super slow retart times.

As you

[2022-03-29 20:17] fernando88to commented on #12451
A note that grails 5 is not compatible with jdk 17

[2022-03-29 22:27] jeffscottbrown commented on #12443
FYI... I do see the error after adding `agent "org.springframework:springloaded:1.3.0.BUILD-20210404.024037-2"`.

[code]

[2022-03-29 23:52] gschueler opened #14147 "war contents for WEB-INF/classes/META-INF/services are wrong after updating to grails-gradle-plugin 5.1.3"
Our app (https://github.com/rundeck/rundeck) uses grails 5.1.2, and we were upgrading to 5.1.4.  We simultaneously attempted to  update grails-gradle-plugin version from 5.1.1 to 5.1.3 and encountered an error:

The war file contents now are incorrect.  Previously the `/WEB-INF/classes/META-INF/services` path contained the java service definitions.  When building with grails-gradle-plugin 5.1.3, i

[2022-03-30 00:10] #12352 closed, assigned to nobody

[2022-03-30 06:25] torbjorn-boost commented on #12451
Thanks, I'll check it out!

Yeah, the domain class is seeing the variables correctly, but the Java service is not. Even if the static initializer has just executed and printed 1 and 2, the Java service sees 0 and 0.

Oh, I wasn't aware! I didn't find anything in the documentation other than that I needed 8+. I figured since I could run Gradle 7.3  everything was good :)

[2022-03-30 07:11] torbjorn-boost commented on #12451
@jeffbrown I cloned your project, and was able to reproduce my problem, sort of ... I had to upgrade Groovy and Gradle to get it to run, because of my JDK 17 (for the record, 17.0.2 (Amazon.com Inc. 17.0.2+8-LTS)), and I clearly that's what's causing the problem. Making the following changes:
- groovyVersion 3.0.7->3.0.10
- distributionUrl https\://services.gradle.org/distributions/gradle-7.2-bin.

[2022-03-30 10:18] manishkbharti commented on #12363
Same with v5.1.5 -

FYI -- @puneetbehl @jeffbrown

[2022-03-30 12:21] frangarcia opened #12453 "Domain class getter for boolean not working"
### Expected Behavior

Is Groovy 3, there is a new way of accessing a boolean field with a getter like this

`class Book {
    String name
    Boolean active
}

Book book1 = new Book(name:"Book name", active:true)
println book1.isActive()
`

### Actual Behaviour

The expected behaviour is not actually happening in a brand new project created using Grails 5.1.5 https://github.com/frangarcia/testpro

[2022-03-30 14:38] frangarcia commented on #12453
Thanks @jeffbrown for the quick feedback. Yes, your workaround works but the main concern for me is that another version of Groovy different than 3.0.7 is somehow being used preventing the isActive() method to be used. I decompiled the class Book.groovy and I can't see the method isActive().

I have tried this code locally using groovy 3.0.7 and it works fine:

[code]

but if I run the same code u

[2022-03-30 16:21] jeffbrown commented on #12453
I see.  I didn't realize that was the concern.  Which version is it that you believe is being picked up?

[2022-03-30 16:50] frangarcia commented on #12453
Not sure about it, but according to the [dependencies graph](https://gist.github.com/frangarcia/20f96a3fe46e8a2a89cc7dca191c5ab0#file-dependencies-txt) for the [example project](https://github.com/frangarcia/testprojectgrails515) I guess it could be either groovy:2.5.6 (from org.grails.plugins:async:4.0.0) or groovy:2.4.19 (from com.bertramlabs.plugins:asset-pipeline-core:3.3.4).

[2022-03-31 11:50] frangarcia commented on #12453
Here comes the fun. If we change the field active from `Boolean` to `boolean`, the method `isActive()` gets properly generated.

[code]
This script, when running in Groovy 3 works fine, but when running it in Groovy 2 I get this exception:

[code]
This makes me think even more than for any reason, the Groovy being picked up to compile the grails project is Groovy 2.

[2022-03-31 13:21] frangarcia commented on #12453
Something else we have noticed is that when the class is outside the domain class, the is getter gets properly recognised no matter whether `Boolean` or `boolean` has been used.

[2022-03-31 13:24] jeffbrown commented on #12453
That is good info.  I cannot think of any way that we could be picking up a separate version of Groovy for domain classes than the rest of the system but this is good info and will be helpful.  I expect the issue has more to do with domain class transformations than it relates to somehow using the wrong version of groovy for some parts of the compilation.

Thank you for all of the feedback!

[2022-03-31 13:25] jeffscottbrown commented on #12451
Agreed

It is.  Thank you for the feedback.

[2022-03-31 13:50] fjloma commented on #12453
Hi,

I think the problem is with grails-data-mapping dirty check transformer. When there is no getter / setter, it will create one, so it can keep track of dirty properties.

I've been reviewing the org.grails.compiler.gorm.DirtyCheckingTransformer class from that repo. On L209 we have
[code]

By that, booleanProperty only is true when the return type is the primitive type boolean, not Boolean cla

[2022-03-31 21:39] gschueler opened #12460 "Grails 5.1.6: integration tests, bootRun, bootWar are broken"
### Expected Behavior

integration tests should run
bootRun gradle task should run
bootWar war product should run

### Actual Behaviour

Exception is thrown:

[code]

### Steps To Reproduce

1. grails create-app myapp
2. cd myapp
3. ./gradlew bootRun

### Environment Information

OS: macos
JDK: openjdk version "1.8.0_302"

### Example Application

_No response_

### Version

5.1.6

[2022-04-01 05:48] rainboyan commented on #12460
Downgrade from Spring Framework **5.3.18** to **5.3.17**, and Spring Boot 2.6.5 build and released with 5.3.17,  waiting for next Grails release based on Spring Boot **2.6.6** and Spring Framework **5.3.18**.

Update `gradle.properties`:

[code]

[2022-04-01 06:54] matrei opened #12461 "Validation is not applied when using @GrailsCompileStatic on domains with inner Enum"
### Expected Behavior

When validating a domain object that is annotated with `@GrailsCompileStatic`, and that has an inner `Enum`, the validation rules in the constraints block of the domain object should be followed.

### Actual Behaviour

The validation rules are not applied.

### Steps To Reproduce

1. Create a domain class annotated with @GrailsCompileStatic and that has an inner Enum and som

[2022-04-01 06:58] boardbloke commented on #12460
+1 from me - would like to do the upgrade to get Spring's mitigation for Spring4Shell, but currently cannot

[2022-04-01 07:09] matrei commented on #12461
Possibly related to #10808

[2022-04-01 07:29] jmfdz commented on #12460
Same issue here.

[2022-04-01 07:56] xqliu commented on #12460
Same issue here, upgrade from 5.1.5 to 5.1.6 by just change gradle.properties and didn't change any other settings, meet same issue

[2022-04-01 08:34] xqliu commented on #12460
BTW: Seems the security issue has been fixed on springboot 2.6.6, not 2.6.5, am I missing something

https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement

[2022-04-01 10:50] rainboyan commented on #12460
`GroovyPagesTemplateEngine` need a `GroovyPageClassLoader`, not the `ref("classLoader")`, so I think it may be wrong, we can remove the line or set it **null**, it will be initialized by `initGroovyClassLoader`.

[code]

I have a workaround to fix this error, see the demo here ->
[https://github.com/rainboyan/grails-issue-12460-demo](https://github.com/rainboyan/grails-issue-12460-demo)

[2022-04-01 13:36] Dirk-27 commented on #11649
We spent many hours looking for a solution to the long development cycle after moving our Grails app from 2.5.6 to 4.0.13.

Now we use this solution in build.gradle:

[code]
and we don't use spring-boot-devtool
[code]
In application.groovy we have to set
[code]
although the devtools aren't referenced in the dependencies.

No we have the behaviour of grails 2.5.6 for the recompiling of the classes.

[2022-04-01 14:32] jeffbrown commented on #12453
@fjloma That makes more sense to me than the compiler picking up the wrong version of Groovy for domain classes.

Well done!

[2022-04-01 15:56] gelleouet commented on #11649
Which version of Java do you use ?
I've tried this solution with Java 11 and application doesn't start because classes error.

[2022-04-01 18:51] puneetbehl commented on #12460
@rainboyan I am surprised that it breaks after updating the Spring and Spring Boot version for Grails as that is the only change between 5.1.5 and 5.1.6. I would like to investigate further that why it is broken now.

[2022-04-01 19:33] fjloma commented on #12453
I've made a PR for that https://github.com/grails/grails-data-mapping/pull/1637

[2022-04-01 20:00] rainboyan commented on #12460
@puneetbehl related Spring Framework issue here: https://github.com/spring-projects/spring-framework/issues/28261

[2022-04-02 09:44] boardbloke commented on #11163
I'm in the middle of an upgrade from Grails 2 to Grails 5 and came across this open issue.  @puneetbehl @jeffbrown has any decision been made on plans for Grails use of Hibernate Criteria since it was identified 4 years ago?

[2022-04-02 11:55] fernando88to commented on #11163
I'm also in this migration process, could you post an example of a query?

[2022-04-02 12:03] davydotcom commented on #12443
I've been working on this a while and there is a decent grails4 spring loaded we use in our nexus i can send later. There is a lot of work going into fixing spring loaded for JDK11 and grails5 that I have finished as well. It is getting very close but still crashes on extremely large projects. There has always existed some race conditions in that code that can be problematic and are more prominent

[2022-04-02 17:58] jaGarcia commented on #12443
@davydotcom if I can send you a coffee or perhaps look into some of the final problems you're tackling, I'd love to help however I can to get that new springloaded version prod ready!

[2022-04-03 07:44] rainboyan commented on #12460
Grails 4 app could be upgrade to Spring Framework 5.3.18, I create [another demo here](https://github.com/rainboyan/grails4-upgrade-spring-demo), it works with `grails-gsp` 4.0.3, but I'm not sure it works for the other old plugins, need a lot of tests!

[2022-04-03 07:50] FileNotFoundExcetion opened #12465 "service not injected"
### Expected Behavior

def service is not null
it should be like
<img width="1277" alt="image" src="https://user-images.githubusercontent.com/29888589/161417282-a481dd0f-0c44-4b5c-b580-a9caf2e37e37.png">

### Actual Behaviour

service is null
<img width="1317" alt="image" src="https://user-images.githubusercontent.com/29888589/161417223-0413cbf0-1808-45dc-8369-e3129740f60f.png">
is it supported?

[2022-04-04 04:05] Philip-Wu opened #12466 "CVE-2022-22965: Spring Framework RCE via Data Binding on JDK 9+"
### Issue description

It might be early days, but thought I would start the conversation about which versions of grails are affected by the newly reported RCE vulnerability in the springframework. Details of vulnerability:

https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement

I have an app running on grails 3.x. Are there plans to patch up older versions of Grails?

Many tha

[2022-04-04 06:23] codeconsole opened #12467 "BUG: 5.1.6 - Error creating bean with name 'groovyPagesTemplateEngine'"
### Expected Behavior

The mail plugin no longer works starting with 5.1.6

Any version prior to 5.1.6, it works fine.
e.g. 5.1.5 and below

By *only* adding `implementation 'org.grails.plugins:mail:3.0.0'` to a Grails 5.1.6 `build.gradle` it would be expected that the application would start up with no errors, but the application fails to start due to a dependency injection error.

### Actual Beh

[2022-04-04 06:26] codeconsole commented on #12460
https://github.com/grails/grails-core/issues/12467

[2022-04-04 06:26] codeconsole commented on #12467
Closing, appears to be related to https://github.com/grails/grails-core/issues/12460

[2022-04-04 06:26] #12467 closed, assigned to nobody

[2022-04-04 07:31] matrei commented on #12466
Here is information about this issue:
https://grails.org/blog/2022-03-31-grails-spring-rce.html

It has also been communicated that Grails 3 is End-Of-Life so it will not receive any further updates.

[2022-04-04 10:51] jphiloon opened #12469 "Grails 4 - Domain class in plugin overrides same class in application"
A plugin defines a skeletal User class for stand-alone testing with a subset of properties of the "real" application User class.

Plugin (edited for brevity):
[code]
build.gradle:
[code]
IssueGrailsPluginGrailsPlugin.groovy:

[code]
Main Application (edited for brevity):
[code]
Problem code in plugin:
[code]
Expected behavior:  User object defined in main application will be fetched.

Actual behav

[2022-04-04 13:17] jphiloon commented on #12469
Important note!  This equivalent code in the plugin works fine and does not throw an exception:
[code]

[2022-04-04 14:43] rainboyan commented on #12469
@jphiloon Hi. Could you provide a complete minimal sample that reproduces the issue?

[2022-04-05 14:14] xqliu commented on #12460
Hi Team,

Is there any update to this issue or anything we can do to help on resolving this issue?

Thanks.

[2022-04-05 15:58] jphiloon commented on #12469
First attempt at creating a simple app/plugin to illustrate the problem resulted in - no such problem.  It will take further research to find what extenuating circumstance creates the problem situation.

[2022-04-06 13:55] jeffscottbrown commented on #12465
Does the problem only happen when you us a bean name that begins with a single lower case letter followed by an upper case letter (ex: `aService`, `bService`)?

[2022-04-06 19:01] jeffscottbrown commented on #12443
FYI... The core dump I mentioned above came out of JRE version: OpenJDK Runtime Environment (Zulu 8.36.0.1-CA-macosx) (8.0_202-b05) (build 1.8.0_202-b05).

[2022-04-07 04:58] FileNotFoundExcetion commented on #12465
at present，i just found this.but if injected by this.  def AService AService,it means success. and can you tell me how the grails automatic assembly..  or the rules?

[2022-04-07 13:47] jeffscottbrown commented on #12465
I think if you evaluate `grailsApplication.getArtefact('Service', 'grails.micrometer.demo.AService').propertyName` you may see that the expected property name is `AService`, not `aService`.

[2022-04-07 13:56] jeffscottbrown commented on #12451
@torbjorn-boost I cannot reproduce that.

When I run the project at [github.com/jeffbrown/torbjorn-boost-constants](https://github.com/jeffbrown/torbjorn-boost-constants) and send a request to `/demo` the output shows 1 and 2.  A request to `/demo` will be handled by [grails-app/controllers/torbjorn/boost/constants/DemoController.groovy](https://github.com/jeffbrown/torbjorn-boost-constants/blob/3

[2022-04-07 13:57] jeffscottbrown commented on #12451
Can you clarify if you are seeing this problem with Java 8?

[2022-04-07 14:08] jeffscottbrown commented on #12429
[code]

@xpusostomos There are better ways to deal with that config.  If you are willing to create a simple sample app which makes use of that approach in what you think is a reasonable way and share that in a GitHub repo that I can clone, I will be happy to show you alternatives and the recommended best practice, which isn't what is shown in the code above.

[2022-04-07 18:30] jeffscottbrown commented on #12407
Does the `install` command offer something that `publishToMavenLocal` does not?

[2022-04-08 19:50] JasonTypesCodes commented on #12460
We are still working through the framework-wide implications of this issue.  Spring has labeled the [upstream issue](https://github.com/spring-projects/spring-framework/issues/28269) as a regression.  Current experimentation with [Spring Core 5.3.19-SNAPSHOT](https://github.com/spring-projects/spring-framework/milestone/292) has been yielding positive results.  Presuming that the official release

[2022-04-09 00:29] xpusostomos commented on #12429
Of course it can be worked around, no doubt. But you seem to claiming there are better ways to to deal with a hierarchy of objects  than a hierarchy of objects. If you want an example from real life, see below... Something very interesting to note about this example is that it uses groovy.json.JsonSlurper.... and that converts Json to something that presents an object interface, just like Grails c

[2022-04-10 07:39] rainboyan commented on #12460
Spring Framework [5.3.19](https://github.com/spring-projects/spring-framework/milestone/292) will be released on April 13, 2022, Spring Boot [2.6.7](https://github.com/spring-projects/spring-boot/milestone/259) will be released on April 21, 2022.
I test Grails 5.1.6 with Spring Framework 5.3.19-SNAPSHOT, it works now. But Grails Gradle Plugin 5.1.3 still use Spring Boot 2.6.4, we should release a

[2022-04-11 00:52] jameskleeh commented on #12429
You can achieve the same with `grailsApplication.config.getProperty("nsl.shards", Map.class)`. Also note that `DefaultHttpClient` is an internal class and you shouldn't interact with it directly. Use `HttpClient.create` instead to achieve the same behavior as you already have

[2022-04-11 02:57] xpusostomos commented on #12429
@jameskleeh  I don't know how you can say that with any certainty. While the powers that be here running Grails development have been very obscure about what they're trying to achieve with this deprecation, my supposition is that they don't want config to be implemented as a Map of Maps of Maps etc, which it is in NavigableMapConfig. Your code snippet above happens to work because currently the Gr

[2022-04-12 02:45] jameskleeh commented on #12429
It doesn't work by accident. Retrieving configuration and converting it to a requested type is part of the API https://docs.grails.org/5.1.6/api/grails/config/ConfigMap.html and that API is not being deprecated.

The dot based notation requires a deep copy of the the configuration to be stored in addition to the normal flat storage and thus that increases memory usage. There is no functionality be

[2022-04-12 02:47] jameskleeh commented on #12429
Also just as another point in your example parsing the config manually shouldn't be done beyond reading a single property. You can bind configuration to classes today with @ConfigurationProperties and that should be the preferred way of reading configuration.

[2022-04-12 05:20] xpusostomos commented on #12429
@jameskleeh Since that API document you linked me to says nothing about what classes you can pass in to that API and how it reacts to such a class... I guess I'll have to take your word for it that Map is something it expects. Sure it's something that works NOW because of how it's implemented. But we're told the implementation will change.  I mean, there's a  zillion class objects you can pass in,

[2022-04-12 10:07] ascheidmeir commented on #12019
We ran into the same issue.
After a lot of searching we found that the problem lies within the new _GroovyPageCompilerForkTask.groovy_ introduced in grails-gsp v4.0.1 in line 66.

https://github.com/grails/grails-gsp/blob/420a86348a4e52693e7ad72bcb354a12831117d5/grails-web-gsp/src/main/groovy/org/grails/web/pages/GroovyPageCompilerForkTask.groovy#L66

Here the config paths are mangled because Stri

[2022-04-12 16:44] davebrown1975 commented on #14299
Any chance of comment from the team?  Is this something we might see restored in the future?  If not,  could you please update the docs and the install-templates script so it doesn't create a controller template which is redundant if we can't use it.

[2022-04-13 14:28] rainboyan commented on #12460
[Spring Framework 5.3.19 and 5.2.21 are available now](https://github.com/spring-projects/spring-framework/releases/tag/v5.3.19)

[2022-04-13 19:16] jnunderwood commented on #12460
My Grails 5.1.6 app was failing due to this issue. However, when I upgrade Spring by using `spring.version=5.3.19` in my `gradle.properties` files, it runs. Thanks!

[2022-04-13 23:55] codeconsole opened #12472 "BUG: Erroneous Release 5.1.6/5.1.7 - Does not use documented Spring Boot version."
### Expected Behavior

According to
https://github.com/grails/grails-core/releases/tag/v5.1.6

Should use Spring Boot 2.6.5, but it points to 2.6.4

### Actual Behaviour

[code]

### Steps To Reproduce

[code]

### Environment Information

_No response_

### Example Application

_No response_

### Version

5.1.6

[2022-04-14 00:01] codeconsole commented on #12460
I can confirm `gradle.properties`
[code]
fixes this issue.

I can also confirm Grails 5.1.6 points to Spring Boot 2.6.4

@JasonTypesCodes Considering 5.1.6 is completely broken and doesn't even point to the correct version, I would recommend releasing 5.1.7 as soon as possible.

Otherwise, anyone attempting to use the latest version of Grails will be banging their head against the wall.

https://g

[2022-04-14 23:15] codeconsole commented on #12472
Using

https://github.com/grails/grails-core/releases/tag/v5.1.7

still points to Spring Boot  2.6.4

[2022-04-14 23:21] codeconsole commented on #12460
I can confirm Grails 5.1.7 fixes this issue and points to Spring 5.3.19 but it still points to Spring Boot 2.6.4

[2022-04-14 23:40] codeconsole commented on #12152
I can confirm Grails 5.1.7 working with JDK 17 using Groovy 3.0.11-SNAPSHOT
I had to use `gradle bootRun`

However, the grails cli does not work.

[code]

[2022-04-15 05:39] rainboyan commented on #12472
This issue was always exist since Grails 5.0.1, because `grails-gradle-plugin` moved out `grails-core`, but the versions of Grails and Spring Boot are hard to keep consistent. `grails-gradle-plugin` is built base on `spring-boot-gradle-plugin`, `grails-core` is built upon Spring Boot, two `spring-boot` versions on the Gradle classpath, Gradle use the version with plugin first, and could not get th

[2022-04-15 05:49] rainboyan commented on #12460
@codeconsole There is an easy way to set spring-boot version in Grails project, the reason why Grails 5.1.7 still points to Spring Boot 2.6.4 could be found in the comments https://github.com/grails/grails-core/issues/12472.

[code]

[2022-04-15 09:41] codeconsole commented on #12472
@rainboyan I understand why, but the release notes specifically say Spring Boot 2.6.5/2.6.6 which is simply not the case.

[2022-04-15 18:01] jaGarcia commented on #12343
I got around this issue by setting the following in my build.gradle:

developmentOnly "org.springframework.boot:spring-boot-starter-tomcat"

providedRuntime wasn't properly excluding the artifact.

For reference, I'm using webapp-runner and deploying to Heroku. Got it working with Grails 5.1.17

[2022-04-15 18:58] codeconsole commented on #12472
@rainboyan if I try to use your workaround for forcing the latest Spring Boot, I get the following compile error:

[code]

[2022-04-15 19:09] codeconsole commented on #12460
@rainboyan adding your spring boot 2.6.6. workaround breaks Grails 5.1.7 with the previous error
[code]

[2022-04-15 22:55] rainboyan commented on #12460
@codeconsole Sorry for the missing part, the full Gradle build script is:

Until Spring Boot 2.6.7 have been released, you should manually upgrade the Spring Framework dependency in your Spring Boot application. To override the Spring Framework version in your Maven or Gradle build, you should use the `spring-framework.version` property.

In `gradle.properties`, use `spring-framework.version` 5.3.

[2022-04-15 23:06] rainboyan commented on #12472
Micronaut need `jakarta.annotation:jakarta.annotation-api:2.0.0'

Add the below,

[code]

[2022-04-16 01:47] codeconsole commented on #12460
@rainboyan thanks, I incorrectly assumes 2.6.6 used 5.3.19

What's the point of the large `configurations` block?

Using just
[code]
works for me.

[2022-04-16 01:50] codeconsole commented on #12472
It seems the correct decision would have been to have released an updated `grailsGradlePluginVersion` to go with the release.

[2022-04-16 03:21] xqliu commented on #14470
This issue still happens on grails 5 with gorm 7.2.1

This is the data service code which triggers the warning

[code]

When `findByUsername` method is called, then the follow warning shows up

[code]

Here is the stacktrace, the code inside `AbstractFindByFinder.java` line 44 calls `HibernateSession.java` then calles `org.hibernate.internal.SessionImpl.createCriteria` method, then output the warn

[2022-04-16 16:17] rainboyan commented on #12389
I'll close this issue for now. Based on my tests, using `@ComponentScan` will not cause performance problems, but in some scenarios it may not work, which is caused by Grails' plugin mechanism.

Spring Boot provides many solutions for performance optimization, such as [Lazy Initialization in Spring Boot 2.2](https://spring.io/blog/2019/03/14/lazy-initialization-in-spring-boot-2-2), [Generating an

[2022-04-16 16:45] rainboyan commented on #12460
@codeconsole my pleasure. Spring Boot and Micronaut use different version `jakarta.annotation-api`, use direct dependency also works.

[2022-04-16 20:41] yuri1969 commented on #11753
@davidkron Update: The default Grails web profile pulls a _newish_ `asset-pipeline-grails` version which seems to employ strange dependency configurations - attempting to [solve that via a PR](https://github.com/bertramdev/asset-pipeline/pull/300).

The `rest-api` Grails profile is unaffected by that as revealed during testing of #12391.

[2022-04-17 09:06] johan313 opened #12478 "Problems upgrading from Grails 5.1.2 to any higher version"
### Expected Behavior

Application starts normally.

### Actual Behaviour

When setting grailsVersion to any version above 5.1.2 (and configuring all other dependencies to match the release) the application fails to start with a bean creation exception that has the following cause:

Caused by: grails.plugins.exceptions.PluginException: Failed to initialize class [com.demo.DemoController] from plug

[2022-04-17 23:23] xqliu commented on #11566
This is still a problem on version 5.1.5, here is the detail info as below

One class loader is `org.springframework.boot.devtools.restart.classloader.RestartClassLoader`, which use to load current project class definition, another is `jdk.internal.loader.ClassLoader$AppClassLoader`, which use to load the classes inside jar files.

One possible workaround we have verified works on version 4 is to

[2022-04-18 11:05] johan313 commented on #12478
cache-4.0.3 does not name DemoController as a resource:

[code]

cache-5.0.0 does:
[code]

If I open up the cache-5.0.0.jar it does not contain the declared class. The class is part of the source code found in cache-5.0.0-sources.jar.

So how is this class supposed to appear in my classpath if it is not part of cache-5.0.0.jar?

[2022-04-18 12:07] johan313 commented on #12478
Seems like this was fixed in cache-5.0.1 and setting the dependency to that version solves the issue. However, it would be nice if Grails would automatically use the working import instead of 5.0.0.

[2022-04-19 17:53] jeffscottbrown commented on #12429
@xpusostomos In your example, the `grailsApplication.config.nsl.shards` expression in your service is suspect.  A problem with that is that it will be evaluated every time that method is invoked.  Knowing more about the requirements would help but in general, that config value should be injected into the service at bean initialization time.

[2022-04-20 09:47] xpusostomos commented on #12429
@jeffbrown Firstly, you're being overly sensitive to a few machine instructions that take a few microseconds, for an api that is probably going to take 500ms to complete.

But more importantly... Who are you to say that these config values won't change at runtime? By assuming that everything in the world should be injected, you make the whole system incredibly fragile and lacking dynamism. There's

[2022-04-20 12:50] #12478 closed, assigned to nobody

[2022-04-20 13:18] robertcasto commented on #12429
And these configuration values should be changeable during run-time if
necessary. The use of debugging tools like JRebel work better when things
can be changed on the fly and reloaded instead of having to restart. Some
applications take a long time to restart and benefit from being able to
hot-reload classes, configuration, and other parts of the system.

On Wed, Apr 20, 2022 at 5:47 AM xpusostomo

[2022-04-21 03:58] rainboyan commented on #12472
@puneetbehl thank you for your hard work. grails gradle plugin 5.1.4 was released!

[code]

[2022-04-21 05:45] codeconsole commented on #12472
I can confirm `grailsGradlePluginVersion=5.1.4` works and removes the need to add any more workaround code!

Using it resolves
[code]

[2022-04-21 09:23] #12472 closed, assigned to puneetbehl

[2022-04-21 20:35] jeffscottbrown commented on #11753
Can you do this?

[code]

[2022-04-21 21:18] jeffscottbrown commented on #11753
@davidkron That is true, but that is only 1 of the places.  By default, there are multiple dependencies in newly created 5.1.4 app which have transitive dependencies on h2.

[2022-04-22 16:47] yuri1969 commented on #11753
That `micronaut-bom`-related one is marked as _dependency constraint_. Thus it should not pull the H2 itself, right?

[2022-04-25 08:33] torbjorn-boost commented on #12451
@jeffbrown Breaking news!

Trying some different combinations of JDK, gradle and groovy versions, I found out that this error manifests (i.e. shows `1 2` on boot, but `0 0` when calling `/demo`) regardless of JDK version (8, 11 or 17) as long as I'm using Groovy 3.0.10. Changing back to 3.0.7 fixes it (i.e. shows `1 2` both on boot and when calling `/demo`), as does 3.0.9.

Does this make this a p

[2022-04-25 11:59] puneetbehl commented on #12469
@jphiloon I am closing the issue for now. Please feel free to raise a request to reopen the issue once you are able to create a sample application replicating the problem.

[2022-04-25 11:59] #12469 closed, assigned to nobody

[2022-04-25 17:37] darxriggs commented on #12460
@puneetbehl Do you plan to release a new Grails version using Spring Framework 5.3.19 and Spring Boot 2.6.7?

[2022-04-27 12:50] puneetbehl commented on #12460
Yes, there will be a Grails 5.2.0 release soon. However, this error should be resolved with Grails 5.1.7 which updates to Spring 5.3.19.

[2022-04-28 10:28] rainboyan commented on #12460
@puneetbehl Grails 5.2 branch will based on Spring Boot 2.6.x or 2.7.x? last week, [Spring Boot 2.7.0-RC1 has been released](https://spring.io/blog/2022/04/21/spring-boot-2-7-0-rc1-is-now-available), and will be [GA next month](https://github.com/spring-projects/spring-boot/milestone/239).

I also noticed that Grails 6.0.x branch was created, switch to Groovy 4, is that will be using Spring Boot 3

[2022-04-29 03:29] puneetbehl commented on #12460
Grails 5.2 will be based on 2.6. We would probably do another minor release of Grails 5 once 2.7 is released.

[2022-04-29 03:36] puneetbehl commented on #12460
I will update the roadmap soon. Also, the feedback from the community is always welcome regardless we use Github projects or not. In the past, I tried to use the Github Project but I wasn't able to keep up with it. I will try to give it another try and also discuss the same in Grails Engineering Meeting next week. Thanks!

[2022-04-29 03:36] #12460 closed, assigned to nobody

[2022-04-29 04:20] rainboyan commented on #12460
@puneetbehl thanks for your reply. thank you for your hard work. Very much looking forward to Grails 6, and seeing the Team to talk about the big move.

[2022-04-29 10:42] manishkbharti commented on #12363
Same with v5.1.7 --

[2022-04-29 11:52] torbjorn-boost commented on #12451
I've created the most minimal reproduction case I could here: https://github.com/torbjorn-boost/groovy-static-field, and I'll file a thing with Groovy.

[2022-04-30 08:16] kurb70 opened #12497 "Newly generated project should run tests with Apple M1 processors without exception"
### Expected Behavior

The project created by the "grails create-app" command should not cause the error "Execution failed for task ':configureChromeDriverBinary'." when running tests (gradle check) under Apple M1. .

### Actual Behaviour

When trying to run tests with `gradle check` the following message appears
[code]

### Steps To Reproduce

1. Create Grails App wit Web profile
2. Start App (no

[2022-05-01 16:42] rainboyan commented on #12291
I created a complete [demo app](https://github.com/rainboyan/grails-issue-12291-demo), and reproduced this issue. It's still in Grails 5.1.7.

In this demo app, I downgrade logback to 1.2.8 and use `logback.groovy`,

[code]

The same output as above post by @lynchie14 , related commit:  https://github.com/grails/grails-core/pull/12329

[code]

I will submit a PR to fix it.

[2022-05-01 17:00] rainboyan commented on #12497
@kurb70 you should use WebDriver binaries Gradle plugin v2.7, this version support macOS ARM64 architecture. But the [default drivers repository-3.0.json file](https://github.com/webdriverextensions/webdriverextensions-maven-plugin-repository/blob/master/repository-3.0.json) is no longer maintained, you can add the drivers which support Apple M1 by yourself.

Please reference here: https://github.

[2022-05-02 13:48] jeffscottbrown commented on #12465
@puneetbehl Do you think this is currently behaving as designed?

[2022-05-04 14:39] jeffscottbrown commented on #12451
Yes.  I don't know that it is a regression in 3.0.10 but I think it is a potential regression in 3.0.10.

[2022-05-05 10:17] rainboyan opened #12500 "Performance Improvement: Enable Lazy Initialization"
Spring Boot 2.2 M1, Provide a configuration option to enable lazy initialisation

https://spring.io/blog/2019/03/14/lazy-initialization-in-spring-boot-2-2

Currently, Grails 5 support lazy initialization like this,

[code]

In Grails, if not set `lazyInit`, the `BeanDefinition.isLazyInit()` will be `false` default.

We can't config `spring.main.lazy-initialization` to enable global lazy initializa

[2022-05-06 09:28] #12466 closed, assigned to nobody

[2022-05-06 09:50] puneetbehl commented on #12465
Yes, this is working as designed.

[2022-05-07 09:54] rainboyan opened #12503 "Package Grails plugin generate grails-plugin.xml with wrong version and dependOn nodes"
### Expected Behavior

The expected result is:
[code]

### Actual Behaviour

[code]

### Steps To Reproduce

## Create new Grails Plugin

[code]

## Package the Grails Plugin

I update the `GrailsPluginDependOnIssueGrailsPlugin.groovy`, add two properties: `version` and `dependsOn`.

`src/main/groovy/org/grails/demos/GrailsPluginDependOnIssueGrailsPlugin.groovy`

[code]

Then I run this command to

[2022-05-09 10:44] rainboyan commented on #12500
If I create 2000 `DemoConfig` to configure 2000 `DemoBean`, and enable `@ComponentScan` to scan all configs.

[code]

The result is better than use Grails `BeanBuilder` configure in `resources.groovy`.

|Bean & Config   |              |  @ComponentScan  |   lazy-initialization: true    |   lazy-initialization: false   |
|----------------|--------------|------------------|--------------------------

[2022-05-10 08:05] JJAM2014 opened #12506 "grails migration 4.x to 5.x Task :compileGroovy FAILED No map entry allowed at this place"
### Issue description

Hi ,
I have migrated from grails version 4.0.3 to version 5.x but when it reaches the build step compileGroovy this error appears

[code]
please could anybody tell me one clue what happend?

thanks very much in advance

best regards

[2022-05-10 09:57] JJAM2014 commented on #12506
Java  openjdk 11

grailsVersion=5.1.7
grailsGradlePluginVersion=5.1.3
groovyVersion=3.0.7
gorm.version=7.2.1
org.gradle.daemon=true
org.gradle.parallel=true
org.gradle.jvmargs=-Dfile.encoding=UTF-8 -Xmx1024M

distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-7.2-bin.zip
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapp

[2022-05-10 12:33] jeffscottbrown commented on #12506
I tried to reproduce that and cannot.  Can you link to sample project which demonstrates the issue?

Thank you for your feedback!

[2022-05-10 19:17] JJAM2014 commented on #12506
Dear Jeff
Thanks for your answer, I guess the problem will be in the change of version of groovy from 2.x to 3.x and in the use of annotations like @CompileStatic

best regards

José Juan

[2022-05-10 21:09] jeffscottbrown commented on #12506
It would be helpful to see what is around `[61:27]` in the class that won't compile.

[2022-05-11 07:02] gaolei8888 opened #12507 "GrailsCompileStatic could not take parameters now."
### Expected Behavior

@GrailsCompileStatic suppose to take parameters as TypeCheckingMode.SKIP or TypeCheckingMode.PASS, It will do type checking or do not depends on these two parameters value.

### Actual Behaviour

With Grails 5.1.7, This feature broke. It will throw compilation errors.  Something as

[code]

### Steps To Reproduce

1. Create  a Grails 5.1.7 project.
2. Create a Controller say

[2022-05-11 07:26] gaolei8888 commented on #12507
This is a duplicated issue as #12440

[2022-05-11 07:26] #12507 closed, assigned to nobody

[2022-05-11 17:28] codeconsole commented on #12440
I've encountered the same issue upgrading a Grails app from 5.1.1 to 5.1.7 with a drain class that contains
`@GrailsCompileStatic(TypeCheckingMode.SKIP)`

I can confirm switching to `@CompileDynamic` resolves the issue.

[2022-05-11 17:28] #12465 closed, assigned to nobody

[2022-05-13 21:19] joelbard commented on #11649
Has anyone had this work with Grails 5.1.7?  jdk 1.8 with bootRun configured as above I get no effect when I save a change in a controller using OSX.

[2022-05-17 13:39] jeffscottbrown commented on #12451
I have created a project which eliminates domain classes and Grails as a factor.  See [github.com/jeffbrown/issue12451](https://github.com/jeffbrown/issue12451).

[app/build.gradle#L10-L15](https://github.com/jeffbrown/issue12451/blob/b553d53d1224225556af6e4776eab4bea45407a8/app/build.gradle#L10-L15)

[code]

[app/src/main/groovy/issue12451/App.groovy](https://github.com/jeffbrown/issue12451/blob/

[2022-05-17 21:05] jeffscottbrown opened #12518 "Out of date release instructions"
### Issue description

[github.com/grails/grails-core/blob/5.2.x/RELEASE.md](https://github.com/grails/grails-core/blob/e3a22948eb291b78d75a6548f586bd4ad3f60496/RELEASE.md) is out of date including reference to `./gradlew sWMC`.

[2022-05-18 11:52] xpusostomos commented on #11840
Duplicate of #12173

[2022-05-18 16:44] humberthardy commented on #12399
Another option can be use a different XML via configuration.
Let's say:
- `logback-development.xml` -> ConsoleAppender
- `logback.xml` -> FileAppender

You just have to set the `logging.config` property in `application.yaml`:

[code]

[2022-05-19 00:45] paulk-asert commented on #12451
See https://issues.apache.org/jira/browse/GROOVY-10611
TL;DR: will be fixed in 3.0.11 when we release in a week or two.
With 3.0.11, the stub will contain 123 as the constant value rather than 0.
The other workaround for 3.0.10 is to use "123L" as the constant.

[2022-05-25 07:26] netbakter commented on #14267
Greetings,
works with Grails 5.1.7 with the following combination:
build.gradle:

[code]
and

[code]

and

`implementation "org.grails.plugins:views-json:2.0.4"`

Yes I know this is a bit mixed up, tried a few combinations and this one does work deployed as a WAR with Tomcat 9.

G.

[2022-05-25 14:45] jeffscottbrown commented on #14271
Personally I do not favor renaming `.gsp` template files and don't agree that they should have a `.gspt` extension.  When we invented GSP we included a mechanism for naming templates to distinguish them and that is by prefixing the file name with an undrscore.  The contents of those files is valid Groovy Server Page code and I believe `.gsp` is the most sensible extension for those in my estimatio

[2022-05-25 15:15] jeffscottbrown commented on #12506
@JJAM2014 If you can help us by providing some more information about how to recreate the problem we can help investigate.

[2022-05-25 18:36] JJAM2014 commented on #12506
Dear Jeff,

I am so sorry, but the software belongs to the client and I cannot show it. I can tell you that I generate a project in the grails 5 and gradle 7 version and it works fine and when I add classes from the project that I want to migrate I get the error and I can't find the point where it is because it is possibly a class that has a map that is generated in execution, I tried to do the mi

[2022-05-26 09:46] JJAM2014 commented on #12506
Dear Jeff,
I would like to tell you , that I solved the problem, I looked for inside of classes and I saw this
 ` variableBoolean?[result:variableBoolean] as JSON :null`
This works for Groovy 2.x compiler , but It does not work for Groovy 3.x  compiler
thanks you very much for your interest
best regards,
José

[2022-05-26 11:10] xpusostomos commented on #14271
@jeffbrown I don't think we're talking about the same thing. The underscore files are indeed valid gsp code.  The files in src/main/templates/scaffolding are not. Try putting one of them in your views/ folder... they do not compute.

[2022-05-26 14:45] jeffscottbrown commented on #12506
Thank you.  That feedback is helpful.  I have verified that a newly created 5.1.7 app will fail compilation with the following code...

[code]

[2022-05-26 14:53] jeffscottbrown commented on #12506
FYI... I believe this works:

[code]

[2022-05-26 15:57] jeffscottbrown commented on #12399
I don't consider `logback.groovy` to be particularly dangerous.  The kinds of problems one could create there could be created lots of places.

[2022-05-27 17:57] rainboyan opened #12534 "BeanPostProcessorChecker detected Grails Beans are not eligible for getting processed by all BeanPostProcessors"
### Expected Behavior

Ideally the message should not be logged. Spring use `BeanPostProcessorChecker` to notify the user whenever a bean that is neither a BeanPostProcessor nor an infrastructure bean.

In Grails Plugins, we could define an infrastructure bean like this:

[code]

### Actual Behaviour

[code]

### Steps To Reproduce

1. `grails create-app org.grails.demo.grails-bean-not-eligible-is

[2022-05-28 14:39] rainboyan opened #12537 "Grails loaded plugins versions are not correct"
### Expected Behavior

[code]

### Actual Behaviour

[code]

### Steps To Reproduce

1. `grails create-app org.grails.demos.grails-view-json-version-unspecified-issue`
2. `grails run-app`

### Environment Information

MacOS 11.6
JDK 11.0.15

[code]

### Example Application

https://github.com/rainboyan/grails-view-json-version-unspecified-issue

### Version

Grails 5.1.7

[2022-05-28 15:47] rainboyan opened #12538 "DefaultGrailsPluginManager: Add necessary log information when loading plugins"
### Expected Behavior

Developers need to know how many core plugins and user-defined plugins are loaded in total and how long it took.

Currently, only part of the information is displayed, this needs to be improved.

Like this,

[code]

### Actual Behaviour

[code]

### Steps To Reproduce

1. `grails create-app org.grails.demo.grails-load-plugin-info-demo`
2. `grails run-app`

### Environment In

[2022-05-29 11:56] rainboyan opened #12539 "Support for custom GrailsPluginManager in GrailsAutoConfiguration"
### Feature description

Currently, `DefaultGrailsPluginManager` was hardcoded in `GrailsApplicationPostProcessor`. Grails has a `ProfilingGrailsPluginManager`, I want to use it for testing performance, but I can't.

[code]

Also, I'm going to extend the Grails Plugins with some new methods that require a custom GrailsPluginManager to use it. Although there are some ways to achieve the goal, but n

[2022-05-30 09:29] rainboyan opened #12540 "Improvement: Make GrailsApplicationPostProcessor implements Ordered"
### Feature description

Spring Framework invoke the BeanDefinitionRegistryPostProcessors that implement `PriorityOrdered` first, then `Ordered`, and the rest will be last invoked.

But `GrailsApplicationPostProcessor` is not Ordered, If Grails user create a `BeanDefinitionRegistryPostProcessor` and configure in `Application`,
`GrailsApplicationPostProcessor` will be invoked after `DemoBeanDefinit

[2022-05-30 10:34] ilPittiz opened #12541 "Grails 4.1.0 - with CORS disabled, interceptors don't match OPTIONS requests anymore"
While upgrading my web-app from Grails 4.0.13 to 4.1.0, I noticed something changed with interceptors.
Here’s a simple interceptor

[code]

With Grails 4.1.0 it seems to not match OPTIONS request anymore, when both `Access-Control-Request-Method` and `Origin` headers are present.
Tested with cURL:
`$ curl -I -X OPTIONS 'http://localhost:8080' -H 'Access-Control-Request-Method: POST' -H 'Origin: ht

[2022-05-30 10:48] puneetbehl commented on #12541
Thank you for reporting the issue. I am not aware of any changes which may affect this behaviour. I think the only minor change is updating the Spring Boot version. This could be affected due to Spring Boot version but I am not sure. I will spend some time this week to debug this.

Meanwhile, if you find anything which might cause this please let us know here.

[2022-05-30 16:28] ilPittiz opened #14368 "Grails 4.1.0 - "IllegalArgumentException: keyVaultNamespace can not be null" thrown on startup"
Upgrading from Grails 4.0.x to 4.1.0, without changing GORM version (7.0.2), an `IllegalArgumentException` thrown at boot time.
The exception is non-blocking, and the web-app starts successfully.

Here's the stacktrace:

[code]

### Sample application
https://github.com/ilPittiz/GORM_MongoDB_keyVaultNamespace

### Environment
- MacOS 11.5
- JDK 11
- Grails 4.1.0
- GORM for MongoDB 7.0.2

[2022-05-31 07:39] frangarcia commented on #12291
FYI, this issue seems to be addressed in [Grails 5.1.8](https://github.com/grails/grails-core/releases/tag/v5.1.8). Thanks @rainboyan and @puneetbehl

[2022-05-31 17:02] jeffbrown commented on #12541
@puneetbehl In recent Grails, are interceptors invoked for requests that are not being routed to a controller action?

[2022-05-31 19:53] fernando88to commented on #12451
Groovy version 3.0.11 has been released.

https://github.com/apache/groovy/releases/tag/GROOVY_3_0_11

[2022-05-31 20:04] jeffscottbrown commented on #12451
@fernando88to  FYI... At the moment is not yet available at https://repo.maven.apache.org/maven2/org/codehaus/groovy/groovy-all/.

[2022-05-31 21:18] paulk-asert commented on #12451
Apache has a 72 hr voting window on releases (it promotes human checking and approval over and above any earlier CI checks). The _Tag_ is created at the start of that window but represents a yet unapproved release at that point. There is about 6 hrs left on that 72 hr window and then it will take a few hours after that to do the release and for it to sync up with Maven Central.

[2022-06-01 10:18] torbjorn-boost commented on #12451
I love it!❤️ Great work, everyone😎

[2022-06-02 11:29] frangarcia commented on #10782
In case you end up here with the same issue as this ticket for Grails 5.1.8, please move the shared constraints to grails-app/conf/runtime.groovy https://docs.grails.org/5.1.8/guide/single.html#sharingConstraints

[2022-06-02 17:08] vrivon opened #12547 "Deployed simple Grails 5.1.7 aplication on tomcat gets HTTP 404 error"
### Issue description

Hi all:

After trying to update gradle and my grails application from version 4 to 5.1.7 I got to succesfully run it with run-app but I am unable to run it on Apache 9 server.

catalina.out shows no errors but it takes 27sec instead of 100sec to desploy. When you try to access to any page, you get 404 error.
I have tried to delete the line:

`implementation`  "org.springfram

[2022-06-02 20:05] jnunderwood opened #12550 "Grails 5.1.8 + SAML fails"
### Expected Behavior

Grails application should start without error. This works in when `grailsVersion=5.1.7` is specified in `gradle.properties`.

### Actual Behaviour

Changing to `grailsVersion=5.1.8` in `gradle.properties`, the Grails application fails to start, producing this error:

[code]

### Steps To Reproduce

_No response_

### Environment Information

- Operating system: Ubuntu Linux

[2022-06-02 21:33] lynchie14 commented on #12550
More than likely related to https://github.com/grails/grails-core/pull/12535

[2022-06-03 06:10] puneetbehl commented on #12550
Thank you for taking time to report this issue. It would be great if you could share the steps to replicate. There has been some improvements around accessing configuration and deprecating `NavigableMap` but I would like to understand why this particular change affected your application.

[2022-06-03 19:11] jeffscottbrown commented on #12547
What is 100 seconds referring to?

[2022-06-04 03:10] pangeaos opened #12562 "isDirty(), hasChanged() fails with Spring Security and MongoDB"
### Expected Behavior

If there is NO any update property on the User object when it's saving, then the isDirty() function should work as expected. The **UserPasswordEncoderListener.class** should prevent any enconding password.

### Actual Behaviour

The isDirty() function is not working on the **UserPasswordEncoderListener.class**, every time I save a user object that has NO updates always retur

[2022-06-04 03:31] pangeaos commented on #12562
In the meantime, a workaround would be to update the `UserPasswordEncoderListener.onPersistenceEvent()` method to the following:

[code]

[2022-06-06 17:01] vrivon commented on #12547
Hi jeff. Sorry for the delay.

I noticed that my project old built with grails version 4 takes 100sec to be to be deployed on the server. Same project updated to grails 5 takes just 27sec to be deployed on the server... and it returns the 404 error. I mentioned it because it shows that something is not being loaded and fails even if it doesnt show any error message.

As I said, I cannt even run a

[2022-06-06 20:45] virtualdogbert commented on #12550
Strange I couldn't get the Saml plugin to work with Grails 5.1.7 or 5.1.8 and got the error I raised here which is different:
https://github.com/jeffwils/grails-spring-security-saml/issues/74

Removing the saml plugin allowed my app to run...

[2022-06-07 10:07] JJAM2014 opened #12567 "no works .groovy configuration logging file"
### Expected Behavior

I have upgraded my system from 4.x version to 5.x grails version but in the documentation is said

logging:
    config: /Users/me/config/filelogback-logging.groovy

Should recognize .groovy extension

### Actual Behaviour

Logging system failed to initialize using configuration from '/Users/xxx/.grails/filelogback-logging.groovy'
Caused by: ch.qos.logback.core.LogbackExcepti

[2022-06-07 11:49] arixmkii commented on #12567
Upstream (logback) removed support of groovy config as a security precaution. Version bump happened with this release https://github.com/grails/grails-core/releases/tag/v5.1.2

May be some updates are missing in the docs.

Some hot discussions [here](https://github.com/grails/grails-core/issues/12399)

[2022-06-07 12:29] JJAM2014 commented on #12567
Dear arixmkii,

thanks you very much

best regards,

José

[2022-06-07 17:52] #12567 closed, assigned to nobody

[2022-06-08 17:44] vrivon commented on #12547
I've been doing some test with different Tomcat servers and grails compilations.
Compilation A: compiled with grails 4.0.5 on May 2021 (in production server)
Compilation B: compiled with grails 5.1.7

1. Tomcat 8.5.35 (windows):
**Compilation A** fails on deployment :(
java.lang.NoClassDefFoundError: Could not initialize class org.codehaus.groovy.reflection.ClassInfo
**Compilation B** works :)

2.

[2022-06-08 21:58] vrivon commented on #12547
**As I said before, Tomcat returns no errors and seems to deploy correctly:**

[code]

**Access log shows (for every request.):**
0:0:0:0:0:0:0:1 - - [08/Jun/2022:23:56:38 +0200] "GET / HTTP/1.1" 404 688

Same result with a new clean vanilla Grails 5 made with the basic configuracion and just changing:

`implementation "org.springframework.boot:spring-boot-starter-tomcat"`

to

`testImplementation

[2022-06-08 23:59] vrivon commented on #12547
I added the basic project to github repository: https://github.com/vrivon/grails5

It works on Tomcat 8.5. It doesnt work on Tomcat 9.0.44, Tomcat 10.0.10 , Tomcat 10.0.21

[2022-06-09 03:06] 2hexigua opened #14366 "Query problems that are slow"
Springboot 2.4.1
gorm-hibernate5 7.1.0.M2
groovy 3.0.5
After MY query is complete, I continue to loop the query many times, which wastes a lot of my time.
![TI{6595H RJAV~53WG$KMT4](https://user-images.githubusercontent.com/90946789/172755418-a867878a-61f9-47e7-88a7-bb4e7d30aa97.png)
![CRO{9L@3 BIHKNL3WVJZEWJ](https://user-images.githubusercontent.com/90946789/172755560-bacd39eb-5d6f-45dc-adef-739

[2022-06-09 03:08] 2hexigua commented on #14366
A supplementary issue: after I upgraded from springboot1.5 to 2.0+, gorm was also upgraded, which caused the query to be very slow. Later, it was found that the query was slow because of multiple circular select, but I don't know the reason.

[2022-06-09 13:54] fernando88to commented on #12547
I forked the project and it worked on tomcat 9

https://github.com/fernando88to/grails5

About tomcat 10, i think grails is not compatible, but i'm looking for that info still.

[2022-06-09 15:25] vrivon commented on #12547
Hi Fernando. Thanks for answering.

For some reason my project didnt work on Tomcat 9, but after trying again, it works. Perhaps I made a mistake while testing with so many servers and applications.

I have been trying with my application compiled with Grails 4 and Grails 5. Its seems that it is something related to JVM version.

**GRAILS 4**

[code]

[code]
[code]

**GRAILS 5**
[code]

[code]
[co

[2022-06-09 17:09] fernando88to commented on #12547
No repository has a dockerfile ( https://github.com/fernando88to/grails5/blob/master/Dockerfile ), it has jdk version 11.0.15.

[2022-06-09 17:10] fernando88to commented on #12547
In README.md there are commands to build the image.

[2022-06-09 17:17] vrivon commented on #12547
So you managed to run the Grails 5 application with JVM 11. I needed to upgrade to JVM 16. I cannt find an explanation.

Thank you anyway

[2022-06-09 21:41] codeconsole commented on #12152
The only JDK 17 issues that seem to be remaining are grails cli issues.

[code]

[2022-06-09 22:20] fernando88to commented on #12547
I created a dockerfile for tomcat 9 with jdk 16, it also worked. Look in the repository https://github.com/fernando88to/grails5 and give the following commands that are in readme.md

Build application using command ./gradlew build.
Build Docker image using command docker build -f Dockerfilejdk16 -t issue12547:0.1 ..
Start a new Docker container using command docker run -it --rm -p 8080:8080 issue1

[2022-06-09 22:23] fernando88to commented on #12547
Even with jdk 17 it worked too

https://github.com/fernando88to/grails5

1. Build application using command `./gradlew build`.
2. Build Docker image using command `docker build -f Dockerfilejdk17 -t issue12547:0.1 .`.
3. Start a new Docker container using command `docker run -it --rm -p 8080:8080 issue12547:0.1`.
4. Access http://localhost:8080

[2022-06-10 14:09] codeconsole commented on #12152
FYI JDK 17 is version 61 so the CLI is not supporting compiling itself

[2022-06-10 14:31] codeconsole commented on #12152
This seems like an issue being enforced by the framework

https://github.com/grails/grails-spring-security-core/issues/767
https://github.com/grails-plugins/grails-spring-security-ui/issues/127
https://github.com/grails/grails-spring-security-core/issues/737

[2022-06-11 07:34] ippezshelby opened #12573 "Grails 5.1.8 not compiling filters"
### Expected Behavior

Am trying to upgrade grails 2.4 app to latest version of grails (5.1.8). App is able to run normally ( ./grailsw run-app executes without errors)

However data in views (gsp) are not rendered. after digging deeper I have realized my filters are not working. I have filters for Menu, Permissions and SecurityContext and are responsible for rendering what is to be returned based

[2022-06-11 12:32] fernando88to commented on #12573
Filters have been replaced by interceptor

https://grails.org/blog/2015-03-01.html

[2022-06-12 03:19] ippezshelby commented on #12573
Am trying to convert the filters into Interceptors but am still getting no response. Things are not working. How do i convert the below filter into an interceptor! This will give me a clue to do for others

[code]

[2022-06-12 16:45] davebrown1975 opened #14365 "Tenant Id field skips validation when the domain implements MultiTenant"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided (Not required)
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Run CustomerSpec.groovy
2. Note the Customer domain class includes a Long firmId field with a non-nullable constraint.
3. Note the Customer domain clas

[2022-06-13 05:11] puneetbehl commented on #12573
Please check https://www.tothenew.com/blog/grails-3-migrating-from-filters-to-interceptors/ maybe it help you.

[2022-06-13 07:57] ippezshelby commented on #12573
@puneetbehl l, thanks but when I gave it a shot things are still not working.. The above documentation also mentions of ability to still use filters if someone wishes. when I include the plugin in Grails 5.1.8 App (grails-plugin-filters:3.0.17) as mentioned at da last part of the document and moved all the filters in the root directoryof controllers folder, still I can't get user permissions rende

[2022-06-13 22:16] olavgg commented on #12573
@Ippezrobert check out how to write Spring Boot interceptors if Grails interceptors is not working.
https://www.tutorialspoint.com/spring_boot/spring_boot_interceptor.htm

Grails 3+ interceptors are created in the controllers folder/namespace/package

[2022-06-14 12:13] jeffscottbrown commented on #12573
If you use the `create-interceptor` command that is where they are created, but you can define interceptors any number of places.  For example, some folks like to create them in `grails-app/interceptors/`.

[2022-06-14 21:50] ippezshelby commented on #12573
Thanks everyone! with all your inputs, i was able to convert all the filters to interceptors with exception of one which is to return a model map.

Any suggestions on how i can handle it
**Code Snippets:-**
[code]

Thanks and regards

[2022-06-15 11:56] jeffscottbrown commented on #12573
Instead of this...

    boolean after () { Map model ->
        model?.gatewayConfigMenu = roleModuleService.getMenu('gatewayConfig')
        model?.smsMenu = roleModuleService.getMenu('sms')
        model?.emailMenu = roleModuleService.getMenu('email')
    }

Try this...

    boolean after () {
        model.gatewayConfigMenu = roleModuleService.getMenu('gatewayConfig')
        model.smsMenu = ro

[2022-06-15 14:05] ippezshelby commented on #12573
@jeffbrown , Thanks that resolved the issue!
Am closing this as everything works as expected !!! Thanks y'all

[2022-06-15 14:05] #12573 closed, assigned to nobody

[2022-06-15 16:44] codeconsole commented on #12152
https://github.com/codeconsole/grails4bugs

[2022-06-17 08:26] boardbloke opened #14364 "The PR to merge changes to grails data-mapping to apply @Generated to genrated methods has not been merged to version used by 5.1.7"
There is a PR submitted and merged to the grails data-mapping plugin to apply @Generated to generated fields.  This makes covrag tools like jacoco usable.  Without ths change the code coverage report contains a lot of cruft which makes it pretty unusable.

the PR is https://github.com/grails/grails-data-mapping/pull/1507
the original issue is https://github.com/grails/grails-data-mapping/issues/14

[2022-06-17 14:33] frangarcia opened #12583 "ServletContextHolder.servletContext returning null in Quartz jobs"
### Expected Behavior

We are currently of upgrading a Grails project to the latest version and I have noticed an issue with the Quartz plugin. Basically, in Quartz jobs we are getting a null object when reading this

`grails.web.context.ServletContextHolder.servletContext`

It was working fine up to the latest version of Grails 3.3.14 but then it does not work for Grails 4 or Grails 5. I have cre

[2022-06-19 08:07] matrei commented on #12583
This appears to coincide with introducing Micronaut as the parent application context in Grails 4, and looks like a bug to me. However in your use case there is no need to use the ServletContextHolder as you have the grailsApplication automatically injected to the Quartz job. Or you can just inject the ServletContext and use it directly.
[code]

[2022-06-20 09:10] frangarcia commented on #12583
Thanks @matrei, that makes total sense and the workaround works for me.

[2022-06-20 17:11] jeffscottbrown commented on #12583
@frangarcia There is likely a better way to deal with this.  What is it that you want to do with the servlet context?

[2022-06-20 18:34] jeffscottbrown commented on #14271
"I don't think we're talking about the same thing." - Agreed.  When you said ".gsp template files" I assumed you were referring to technology we created for which we use the term "GSP Template" (https://gsp.grails.org/5.2.1/guide/index.html#viewsAndTemplates).  The files in `src/main/templates/scaffolding` are a different thing.  I understand your comment better now that you have added clarificati

[2022-06-21 07:45] frangarcia commented on #12583
Hi @jeffbrown, we need to reference the servletContext in a cache library we are using. Instead of injecting grailsApplication I am currently using Holders.grailsApplication. What other ways we have?

[2022-06-22 13:28] jeffscottbrown commented on #12583
You could implement `ServletContextAware` and the context will be passed to the `setServletContext`.  You could declare a property with the name `servletContext` that is either dynamically typed or typed as `ServletContext` and the DI container will inject the bean from the context into that property.  It would be interesting to see what the interaction with the cache library is but assuming that

[2022-06-23 08:16] frangarcia commented on #12583
Hi @jeffbrown thanks for your suggestion. It seems to be working fine but I wonder if you could explain the reasons to choose this way and not getting the servletContext from Holders.grailsApplication.mainContext.servletContext.

Thanks again!

[2022-06-23 13:20] jeffscottbrown commented on #12583
There is a lot to that and different explanations apply in different contexts but in general, DI is a better idea than accessing statically managed state by way of something like Holders.  One could build an entire web framework kind of like Grails but without any DI but things would be much more tedious.

For your particular case, just one of the reasons not to use the Holder is that every time y

[2022-06-23 14:08] frangarcia commented on #12583
Hi @jeffbrown thanks for the explanation. I appreciate it!

[2022-06-24 00:34] sbortman opened #12589 "Runnable jar fails for 5.2.0"
### Expected Behavior

App should start normally

### Actual Behaviour

Get a stack trace,  app doesn't start.
[code]
### Steps To Reproduce

1. [Install SDKMan](https://sdkman.io/install)
2. sdk install grails 5.2.0
3. grails create-app foobar
4. cd foobar
5. ./gradlew clean bootJar
6. java -jar build/libs/foobar-0.1.jar

### Environment Information

MacOSX 12.4

sdk current

Using:

ant: 1.10.12

[2022-06-24 02:19] puneetbehl commented on #12547
Grails 5 does not support Tomcat 10 yet. Please use Tomcat 9 instead. Thanks!

[2022-06-24 02:19] #12547 closed, assigned to nobody

[2022-06-24 16:46] spmcewen commented on #12589
I ran into this problem as well when launching the Spring Boot jar on macOS. Launching the jar in a Linux docker container fails with:

```io.micronaut.context.exceptions.NoSuchBeanException: No bean of type [io.micronaut.context.event.ApplicationEventPublisher<io.micronaut.context.event.StartupEvent>] exists. Make sure the bean is not disabled by bean requirements (enable trace logging for 'io.mi

[2022-06-24 22:14] axelkouassi commented on #9344
I have an issue with Grails 2.4.5, I don't have space in my path, but the Grails doesn't automatically recompile every time I make changes. I have a really huge project, it's too painful and wasteful to have to re-run the application after each change.

Project path: C:\Users\\Documents\dev\application-project-upgrade.

So far I have tried every configuration possible. It's a maven project, the gr

[2022-06-25 18:07] pangeaos opened #12592 "Spring Security Core, MongoDB for 5.2.0"
### Expected Behavior

App should start normally

### Actual Behaviour

I was updating my app from 5.1.8 to 5.2.0
Get a stack trace, app doesn't start.

[code]

### Steps To Reproduce

1. Go to https://start.grails.org/
2. curl -O https://start.grails.org/myapp.zip -d profile=rest-api -d features=events,hibernate5,security

### Environment Information

- Mac OS X
- openjdk version "11.0.14.1" 2022

[2022-06-25 21:55] pangeaos commented on #12589
I ran with the same problem.

[2022-06-26 20:29] codeconsole commented on #12589
Example App:
[code]

[2022-06-26 20:36] codeconsole commented on #12589
https://github.com/grails/grails-core/blob/5.2.x/grails-core/src/main/groovy/grails/boot/GrailsApp.groovy#L181-L183

[code]

[2022-06-27 14:07] MichaelJRussell opened #14363 "[Grails 5] Unclear how to enable codecs for Java 8 date/time class marshalling"
I've reviewed the documentation at https://gorm.grails.org/latest/mongodb/manual/, I don't see how to take advantage of the codecs in `groovy.org.grails.datastore.bson.codecs`. My assumption was that just adding the MongoDb plugin to my application would automatically enable marshalling/unmarshalling of Java 8 types such as LocalDate and ZonedDateTime, but instead they're serialized as `String`, a

[2022-06-27 15:09] spmcewen opened #12594 "Grails 5.x includes an older version of the legacy converters plugin than Grails 4.x"
### Expected Behavior

Grails 4.x includes legacyConvertersVersion 4.0.1 but 5.x and beyond include the older 4.0.0 release. 4.0.1 includes a fix for issue 11450 where rendering domain objects with composite keys throws a NPE.

I should be able to render a domain object that has composite keys as JSON with Grails 5

### Actual Behaviour

With Grails 5 if you render a domain object with composite k

[2022-06-27 17:07] jeffscottbrown commented on #12594
FYI... https://github.com/grails/grails-core/commit/9044f9399717008906a35830dbeebd058cfe5323 is a commit that upgraded to 4.0.1.

[2022-06-27 20:26] jnunderwood commented on #12589
I get the following exception when running in a Linux Docker container using JDK 11:

[code]

[2022-06-28 12:10] puneetbehl commented on #12589
I think I have fixed one part of the problem where you won't see exceptions such as `java.nio.file.FileSystemAlreadyExistsException`. However, I am still debugging the another error which is:

[code]

It looks like `io.micronaut.core.io.service.SoftServiceLoader` is unable to pick BeanDefinitionReference from `BOOT-INF/lib/micronaut-inject-3.5.1.jar!/META-INF/micronaut/io.micronaut.inject.BeanDefi

[2022-06-29 03:06] codeconsole commented on #12589
@puneetbehl Does that have anything to do with the actual build process?

https://github.com/micronaut-projects/micronaut-gradle-plugin/issues/406

[2022-06-29 03:43] huiji121 opened #12595 "java.lang.NoClassDefFoundError: org/grails/orm/hibernate/proxy/HibernateProxyHandler"
### Expected Behavior

![image](https://user-images.githubusercontent.com/24616352/176346066-3c9bf3d3-e351-4f39-8434-f3b0cc4dd455.png)
I use version 4.0.9 of grails and version 7.0.5 of gorm,Why is an error reported？

### Actual Behaviour

_No response_

### Steps To Reproduce

_No response_

### Environment Information

The operating system ： mac
JDK : 11

### Example Application

_No response_

[2022-06-29 06:39] puneetbehl commented on #12592
Thank you for taking out time to report this issue. From the error logs it appears that a JAR maybe missing from the classpath. I tried to replicate the problem quickly but I think it maybe related to your project configuration. I would request you to please try to isolate the problem in a sample application.

[2022-06-29 07:44] akiesh22 opened #12596 "Grails 5.2.0 create-app, throws "Cannot resolve dependency org.springframework.boot:spring-boot-dependencies:2.7.0 no repositories are defined""
### Expected Behavior

Application should have started up.

### Actual Behaviour

I am starting a new grails application, I am using grails 5.2.0 (Latest as of today)

I generated a skeleton using :

~/grails-5.2.0/bin/grails create-app data_portal --profile=react

However, trying to run the application always gives me following error :

[code]

This is how my settings.gradle looks like

[code]

T

[2022-06-29 07:45] akiesh22 commented on #12596
This seems to be resolving after changing from grailsGradlePluginVersion=5.2 to grailsGradlePluginVersion=5.1.x

[2022-06-29 13:54] JJAM2014 opened #12597 "Error insert query over Grails on docker"
### Expected Behavior

The application is in grails 4 version and works on a docker with this docker file
[code]

When I have migrated the application to version 5 it should continue to work

### Actual Behaviour

The problem comes because when a query with many inserts is made from
[code]
docker stops working with grails version 5 and groovy 3.0.7

However, if the JAR is launched java -jar app.ja

[2022-06-29 16:15] jeffscottbrown commented on #12597
What is the error?

[2022-06-30 03:42] puneetbehl commented on #12589
I don't think it has anything to do with it. Basically the problem is with Micronaut 3.5 where it does not support reading BeanDefinitionReference from nested JAR. For example, the path is `jar:file:/Users/pbehl/Downloads/foobar/build/libs/foobar-0.1.jar!/BOOT-INF/lib/micronaut-inject-3.5.3-SNAPSHOT.jar!/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference`.

I am working on a Pull Reque

[2022-06-30 03:43] puneetbehl commented on #12597
I would appreciate if you could share a sample application.

[2022-06-30 03:49] puneetbehl commented on #12596
Thank you for taking time to report this issue. This is definitely a bug. From error logs it seems that the application is unable to resolve the dependency due to missing repository under Gradle as:

[code]

The artifact should resolved from https://repo.grails.org/ui/native/core/org/springframework/boot/spring-boot-dependencies/2.7.0/

[2022-06-30 07:42] codeconsole commented on #12589
@puneetbehl thanks for the update!

[2022-06-30 10:41] 0x554simon opened #12598 "mask"
mask

[2022-06-30 12:31] jeffscottbrown commented on #14212
<input type="number" name="weighting" value="1,000,000" required="" id="myField" />

What is it that ends up generating that HTML?

[2022-06-30 13:37] puneetbehl commented on #12598
Please send an email to us at info@grails.org and start the conversation on it.

[2022-06-30 14:56] JJAM2014 commented on #12597
Dear grails team

Method below worked with grails 4.x and groovy 2.x. However, Righ now this method are not working with grails 5.x and groovy 3.x
the sorteDimensions list contains a number of domain entities and I think that this will launh many queries, however, before there were not many queris with groovy 2.x

[code]

The sortedDimensions list containing domain entities but this example is tra

[2022-06-30 17:40] jeffscottbrown commented on #12597
@JJAM2014 Can you share any information about what error is happening?

[2022-06-30 22:08] JJAM2014 commented on #12597
Dear Jeff,
The  Error is that docker stops working when execute this method.  So, I have only javacore dump  file.
best regards
José

[2022-07-01 01:55] #12598 closed, assigned to nobody

[2022-07-01 13:14] Trebla7th commented on #12399
It seems that most of the community (myself included) agrees with this and disagrees with the decision to remove groovy configuration support.  The reason provided by Logback in the release notes (version 1.2.9 - https://logback.qos.ch/news.html) is:

`Removed Groovy configuration support. As logging is so pervasive and configuration with Groovy is probably too powerful, this feature is unlikely t

[2022-07-03 21:29] douglasom opened #14362 "Nested objects have to be set as "embedded" even when they are all in src/main/groovy."
Nested objects have to be set as "embedded" to be persisted even when they are all in src/main/groovy. I believe non entity classes should always be saved as embedded objects. Above all, non entity objects should never have to have `static embedded` declarations.

The following test only pass when the commented lines get uncommented. I believe it would be more appropriate if it passed even without

[2022-07-05 06:27] chrisbitmead commented on #14212
Sorry for the lack of clarity. This is when using the auto generated CRUD views which are presumably part of the form fields plugin.

[2022-07-05 06:31] chrisbitmead commented on #12399
@Trebla7th with all due respect, nobody in "the community" has justified this decision. Logback.groovy is generally inside the war, and EVERYTHING inside the war is executable dangerous stuff.... including for example, the ability to put in an application.groovy. And if you decide to make the effort to put it outside the war, then it will be in the tomcat folder, typically, which is also chock ful

[2022-07-05 16:47] codeconsole commented on #12589
@puneetbehl it sounds like they need you to provide them a way to replicate the issue

[2022-07-05 18:04] sagrawal31 commented on #14389
Any update here?

[2022-07-06 11:55] fernando88to opened #12602 "When I use @SpringBootTest it throws No Session found for current thread"
### Expected Behavior

I have 2 automated tests, one functional and one for integration. The functional test has the annotation '@SpringBootTest(webEnvironment = SpringBootTest.WebEnvironment.DEFINED_PORT)'.
When I run the command grails test-app the first test works the second the exception below is thrown.

If you remove the SpringBootTest annotation the 'test-app' command works.

`java.lang.Ill

[2022-07-06 12:48] yagotlima commented on #14389
Hi. Unfortunately no. I managed to fix that project by managing concurrency in Java itself. My Stack Overflow post was deleted for some reason. I can paste it here if you want more details.

[2022-07-06 13:04] sagrawal31 commented on #14389
Thanks, @yagotlima. Please paste it here and share the link as well.

[2022-07-06 13:20] jeffscottbrown commented on #12602
What are the desired effects you want to get from using `@SpringBootTest`?.

[2022-07-06 13:44] fernando88to commented on #12602
I need the tests to work on a fixed port, in this case 8080. Because the application login is done through the Open ID, which returns the token in a url with the port prefixed.

[2022-07-06 15:59] yagotlima commented on #14389
My original Stack Overflow question was:

# [How to refresh object from database unsing GORM for MongoDB?](https://stackoverflow.com/questions/64083488/how-to-refresh-object-from-database-unsing-gorm-for-mongodb)

I have a Grails application using mongoDB that runs a long piece of code that updates a domain class at the end. Since this piece of code runs concurrently I'm gatting a lot of `Optimist

[2022-07-07 07:36] sagrawal31 commented on #14389
So far, the need of `refresh()` was only coming in our integration tests. For that, we are doing this-

[code]

We further made this DRY in our base abstract test file by adding a method-

[code]

and then calling directly-

[code]

[2022-07-08 13:18] Trebla7th commented on #12399
@chrisbitmead I think you misunderstood (or perhaps I misunderstand you).  I was saying that, by and large, "the community" agrees with Jeff's comment that `logback.groovy` isn't particularly dangerous, and removal of support for groovy configuration doesn't really prevent anything.

[2022-07-08 16:04] frangarcia opened #12603 "Shared constraints not taking into account"
### Expected Behavior

Shared constraints need to be applied when added from grails-app/conf/runtime.groovy.

### Actual Behaviour

Shared constraints are not taking into account when creating an instance of a domain class. We can even define a domain class field with a shared constraint that does not even exist and the application does not complain about it.

### Steps To Reproduce

I have create

[2022-07-09 13:48] yagotlima commented on #14389
I think `Vehicle.withNewSession { vehicleInstance = Vehicle.get(vehicleInstance.id) }` is exactly what I was looking for back then. Even though we managed to work around this problem, it's great to know how to deal with it moving forward. Thank you.

[2022-07-09 14:07] sagrawal31 commented on #14389
Thanks, @yagotlima. I would like to keep this issue open so that the GORM team can implement it natively.

[2022-07-09 14:11] yagotlima commented on #14389
@sagrawal31 sorry for that

[2022-07-11 10:22] frangarcia commented on #12603
I have just noticed this issue seems to be related to this one https://github.com/grails/grails-core/issues/10719

[2022-07-12 10:40] offerbaruch commented on #14554
Hello,

We have a large application that every once in a while hits this issue.
How can we make some progress with this issue? I see there is no progress since Jan 2020.
Is there anyway to get support about this issue? Ways around it?

[2022-07-13 10:01] davidkron opened #12608 "Grails 5.2.0: automatic reload on file change throws StackOverflowError"
### Expected Behavior

Reload should happend without exception. This was still working in Grails 5.1.8

### Actual Behaviour

Exception in console:
[code]

The following code from `grails.util.Environment` seems to trigger an infinite recursion:
[code]

### Steps To Reproduce

1. `grails create-app myapp`
2. `cd myapp`
3. `./gradlew -Dgrails.reload.enabled=true bootRun`
4. wait until `Grails appli

[2022-07-13 11:58] jadelomeiri opened #12609 "Can't run Grails 5.2.1"
### Expected Behavior

Run a Grails 5.2.1 app

### Actual Behaviour

![image](https://user-images.githubusercontent.com/5457472/178728159-4e803a29-4936-41ab-a409-1ff29bb450da.png)

### Steps To Reproduce

1. Create a new app `grails create-app newg`
2. Run app 'grails run-app'

### Environment Information

- Win 11
- JDK 16.0.2
- Grails 5.2.1

### Example Application

_No response_

### Version

5

[2022-07-13 12:09] puneetbehl commented on #12609
Please wait for some time. I think it is taking longer to sync the Grails Gradle Plugin to Maven Central. The artifact is published here https://repo1.maven.org/maven2/org/grails/grails-gradle-plugin/5.2.1/

[2022-07-13 12:13] jadelomeiri commented on #12609
Fantastic, thanks a lot @puneetbehl !
Just wanted to flag it early in case there was an underlying problem you needed to be aware of

[2022-07-13 12:13] #12609 closed, assigned to nobody

[2022-07-13 16:56] boardbloke commented on #14364
HI @puneetbehl - Any chance this could be looked at?

[2022-07-14 02:36] davidbairdala commented on #12608
This is affecting me as well. The StackOverflowError occurs (sometimes) when JRebel reloads modified classes. It looks like the new version of groovy has changed how it interprets the ambiguous reference to either the member 'currentReloadError' or the setter 'setCurrentReloadError'. Looking back at the older version of Environment.groovy, the same code used to work and now doesn't

[2022-07-14 14:21] johan313 opened #12623 "Responding with JSON not working after upgrade to version 5.X from 4.X"
### Expected Behavior

A JSON response is returned to the caller.

### Actual Behaviour

Exception is thrown.

[code]

### Steps To Reproduce

Add the following dependency to a clean grails project:

implementation "org.grails:grails-datastore-rest-client:6.1.12.RELEASE"

The following code produces a no NoSuchMethodError when I call the endpoint:

    def getSomething(final Long id) {
        res

[2022-07-14 19:01] hayeskl commented on #12589
This is still broken when the injected bean references are stored in /BOOT-INF/classes i.e.

jar:file:/Users/khayes/foobar/build/libs/foobar-0.1.jar!/BOOT-INF/classes!/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference

[2022-07-14 23:13] davidbairdala commented on #12608
Actually, I've just realized that the previous version of the Environment enum was actually written in Java, and in 5.2 has been converted to groovy, hence the new behavior

[2022-07-16 11:37] johan313 commented on #12623
Seems like I'm supposed to use Micronaut HTTP client https://docs.grails.org/latest/guide/REST.html#callingRestServices nowdays. However, the documentation seem to be out-of-date = non compiling and the Micronaut Client returns the Publisher interface which is not needed for m2m calls. This could be updated.

[2022-07-16 12:24] jeffscottbrown commented on #12623
Does the code at https://github.com/jeffbrown/johan313issue12623/blob/d1797f4cb81184c1a703ce699c52644228de03ae/grails-app/controllers/johan313issue12623/DemoController.groovy#L6 throw a `NoSuchMethodError` in your environment?

[2022-07-16 12:26] jeffscottbrown commented on #12623
I see the `NoSuchMethodError` when responding with a domain instance like you show:

    respond MyEntity.get(id), formats: ['json']

But I don't understand why you are seeing it with this:

    respond "value", formats: ['json']

I would expect a different problem with that.

Thank you for your feedback.

[2022-07-16 12:30] jeffscottbrown commented on #12623
I don't think an http client is involved in the problem described in this question.  I think the issue is incompatible libraries in the dependency graph of the app.

[2022-07-16 12:41] johan313 commented on #12623
Yes, the problem is incompatible libraries, but I assumed the cause was that I was not supposed to use grails-datastore-rest-client anymore.

[2022-07-16 12:43] johan313 commented on #12623
You still need me to check this? I can do it on Monday if so.

[2022-07-16 12:46] johan313 commented on #12623
Yes, I get a different exception with that, I get

`Caused by: org.codehaus.groovy.runtime.typehandling.GroovyCastException: Cannot cast object 'value' with class 'java.lang.String' to class 'grails.converters.JSON`

[2022-07-18 07:03] JasonTypesCodes opened #12625 "Grails 5.2 app with Micronaut beans will not run with embedded Tomcat"
### Expected Behavior

The application should start

### Actual Behaviour

The application fails with:

[code]

### Steps To Reproduce

1. Create new Grails 5.2.1 application
2. `./gradlew bootWar`
3. `java -jar build/libs/gr52-mn-bug-0.1.war`
4. Application Starts
5. Add a Micronaut bean
6. `./gradlew clean bootWar`
7. `java -jar build/libs/gr52-mn-bug-0.1.war`
8. Observe the exception above

###

[2022-07-18 08:46] puneetbehl opened #12626 "Grails® framework RCE via Data Binding - CVE-2022-35912"
### Issue description

I am opening this issue to facilitate the discussion about this. More information available at https://grails.org/blog/2022-07-18-rce-vulnerability.html

[2022-07-18 20:24] erichelgeson commented on #12626
Could you provide an example of the vulnerability (I don't see any tests or info in the CVE)? I need to backport this to  3.3.9 as there are breaking changes preventing me from moving to anything higher and would like to test it works. I assume these are the only changes required? https://github.com/grails/grails-core/commit/c8bb44e13b905d32291aeaace31b762ee8a76e5a

[2022-07-19 13:57] williamhbutt commented on #12626
Any idea if this affects grails 2 versions?

[2022-07-19 14:08] puneetbehl commented on #12625
I worked with @yawkat today and it seems the problem is with Spring Boot `LaunchedUrlClassLoader` where it tried to load resource as following:
`
jar:file:/private/tmp/testmn/build/libs/testmn-0.1.jar!/BOOT-INF/classes!/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference
`

Please note the extra `!` after `classes` which seems weird but I am not sure whether it is intentional or NOT, we

[2022-07-19 16:10] bmplcm commented on #12626
Had the same question before. Here's all that I could find about it: https://twitter.com/JasonTypesCodes/status/1548971229897433088

[2022-07-19 22:48] JasonTypesCodes commented on #12626
@erichelgeson

We haven't yet published the technical mechanics of this attack yet as we are trying to provide folks some time to upgrade before the attack becomes more broadly known.  We will be publishing the details soon.  We are identifying a timeline for that to become public.

If you aren't able to upgrade your application, for a 3.3.9 app you could get the patched databinding library by add

[2022-07-20 06:39] andresluuk opened #12627 "Calling Environment.setCurrentReloadError fails with StackOverflowError"
### Expected Behavior

Method should work and not fail

### Actual Behaviour

We get a StackOverflowError from inside groovy

### Steps To Reproduce

Use latest grails and call Environment.setCurrentReloadError(null) somewhere like AbstractGrailsPluginManager does.
I reported a groovy bug: https://issues.apache.org/jira/browse/GROOVY-10695
I think the issue is that the method name is the same as t

[2022-07-20 07:57] andresluuk commented on #12627
So from the talk in the groovy case you have bug in:
https://github.com/grails/grails-core/blob/5.2.x/grails-bootstrap/src/main/groovy/grails/util/Environment.groovy : 238
Should use Environment.@currentReloadError instead of the current way.

[2022-07-20 12:26] nair-rajeev commented on #12626
Hi @JasonTypesCodes. Will the above mentioned patched 3.3.15 version of databinding library work in Grails 2.5.6 environment?

[2022-07-20 13:53] Jwalker107 commented on #12626
As a systems administrator (not developer), what's the best method to detect vulnerable versions?  A filesystem scan for
grails-databinding-5.2.x.jar?  Along with
5.2 less than 5.2.1, 5.1 less than 5.1.9, 4.1 less than 4.1.1,  and 3.3 less than 3.3.15?  Is that the correct naming convention?

[2022-07-20 14:12] JasonTypesCodes commented on #12626
We have identified the change that allows this attack to succeed, and it was added in version 3.3.10.  Grails framework versions below 3.3.10 are not vulnerable to this specific attack.  Due to the nature of the attack, it is possible that a variation could be discovered that does impact Grails framework versions 3.3.9 and lower.  We strongly suggest that all Grails applications be upgraded to a p

[2022-07-20 14:17] JasonTypesCodes commented on #12626
@nair-rajeev

That is quite a jump.  I would not expect that to work.  Even if it builds and runs, there are likely other breaking changes in the way that databinding is handled that may impact you.

[2022-07-20 14:33] JasonTypesCodes commented on #12626
@Jwalker107

The full known set of impacted versions are: >= 3.3.10 & < 3.3.15 ; >= 4.0.0 & < 4.1.1 ; >= 5.0.0 & < 5.1.9 ; 5.2.0

I can't say if this is the "best method" for your environment, but looking for a grails-databinding.jar in those version ranges should work.  Please note that in most cases these applications will be packaged as a war which includes the jar inside of it so it may not be

[2022-07-20 17:38] rewardone commented on #12626
Potentially similar to the spring4shell issue, is an [up to date](https://spring.io/blog/2022/04/01/spring-framework-rce-mitigation-alternative) version of Tomcat a mitigation for this?

If so, will specific versions of Tomcat be listed as a prerequisite for this vector?

[2022-07-20 19:55] chrismyers81 commented on #12626
Or, any mitigating steps that can be applied in the interim while we wait for vendor upgrades?

[2022-07-20 22:04] davidbairdala commented on #12627
FYI this is the same issue as https://github.com/grails/grails-core/issues/12608

[2022-07-20 22:24] bmplcm commented on #12626
Note that, just like spring4shell, the key aspect is the access to the classloader. Upgrading tomcat addressed one of the attack vectors in spring4shell, but once you are able to modify anything in the classloader, there are multiple attack vectors that can be explored.

[2022-07-21 03:13] nair-rajeev commented on #12626
Thank you @JasonTypesCodes

[2022-07-21 13:10] solaechea commented on #12478
I saw this error message after upgrading from version 5.1.7 to 5.1.9. Looks like 5.1.9 [is using cache 5.0.0](https://github.com/grails/grails-core/blob/2279cc53db82674fc3bf527b4c9a8a071ffd7942/grails-bom/plugins.properties#L5).

[code]

Setting the cache version to 5.0.1 in build.gradle fixes the issue.

[2022-07-21 13:59] mkobel commented on #12626
What about just adding the patched file to the `src` folder? This should override the vulnerable file from the library. Is this a acceptable workaround to patch older projects to gain some more time to upgrade?

[2022-07-21 18:41] stesteau opened #14361 "Gorm mongo doesn't failOnError when saving invalid nested objects"
[code]

Saving Element pass without error, it doesn't validate nested objects.
If I try to save the channel I have the expected «grails.validation.ValidationException: Validation error occurred during call to save():»
Adding deepValidation doesn't work either...

Context :
Grails : 5.x
GORM : 7.3.0

[2022-07-21 19:18] JasonTypesCodes commented on #12626
If you are in a position where you are able to add an updated file to a src folder, I suspect you could also upgrade the Grails version of your project.  If there are reasons that you are unable to do that in the short term, you could try upgrading only the `grails-databinding` dependency as described above.

[2022-07-21 22:28] jnunderwood commented on #12589
For my projects at least, v5.2.1 fixes this issue. Thanks.

[2022-07-22 22:39] chrismyers81 commented on #12626
@JasonTypesCodes , we've got a vendor that is saying their patches for this issue are still a week out. I appreciate that you're not publishing PoCs or specifics, but can you indicate whether we're looking at a log4shell type of deal, or a lower-risk situation? Trying to figure if we need to take production systems offline until patches drop.

[2022-07-23 03:45] JasonTypesCodes commented on #12626
@chrismyers81 This vulnerability is an RCE which is short for remote code execution.  That means that someone that knows how to exercise the attack can cause a vulnerable system to execute arbitrary code from over a network.

[2022-07-23 10:41] chrismyers81 commented on #12626
@JasonTypesCodes, true. But some RCEs only cause issues if, say, feature X is being used. Or, they cause issues if certain complex conditions are met. Others like log4shell cause issues simply because the library is loaded.

In lieu of specifics, can you provide a cvss? NVD doesn't have an analysis yet.

[2022-07-23 16:43] JasonTypesCodes commented on #12626
This vulnerability is in the Grails data binding logic which can be used to bind a map of data (like the params from an incoming web request) to an object.  This could be done explicitly in your application code,  or implicitly by the framework if you are using features like command objects.  Many Grails applications make use of the data binding logic.

https://docs.grails.org/latest/guide/theWebL

[2022-07-24 00:55] ppazos commented on #9680
Related to this, is there a way to catch the exception when the file exceeds the max size to display a friendly error to the user? @graemerocher

Is the only way to have a global exception handler? https://mkyong.com/spring/spring-mvc-how-to-handle-max-upload-size-exceeded-exception/

[2022-07-24 06:57] suzon opened #12630 "Taking too long to see the output after changing any statements on Grails 5.x"
### Issue description

After changing any statements/classes, project is recompile those class/es is fine but it takes too long to see the output because, project is acting like Re-Initialize everything from BootStrap.

Is there any way to stop reinitializing from BootStrap?, we just wanted to recompile only those changed class

N.B: We are using IntelliJ Idea with Gradle for the Grails Project

[2022-07-24 07:11] ppazos opened #12631 "Can't handle FileUploadBase$FileSizeLimitExceededException"
### Expected Behavior

The documentation for Grails 3.3.10 (similar in newer versions) in Uploading Files > Increase Upload Max File Size (http://docs.grails.org/3.3.10/guide/single.html#7.1.9%20Uploading%20Files) mentions:

[code]

Though increasing the limit doesn't solve the problem of handling the exception, since, for any configured value, there could be a bigger file uploaded, then the excep

[2022-07-25 22:17] carlosorrego commented on #12279
i am having this same error. GRails version 5.2.1 upgraded from 5.1.8. Any help i woul appreciate it

[2022-07-26 09:05] akiesh22 opened #12633 "Grails 5.1.8, Always getting SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder" warning, what's wrong ?"
### Issue description

grails create-app generated scaffolding always produces following errors:

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

I tried resolving this as described in "SLF4J: See http://www.slf4j.org/codes.html#StaticLo

[2022-07-26 12:42] jeffscottbrown commented on #12630
It sounds like you are not using a reloading agent but instead are using the default recompile/restart behavior.  If that is the case, I don't think there is a way to have `BootStrap` run the first time you run the app and have not run when the app restarts.  I don't think BootStrap knows the difference between "start" and "restart".

[2022-07-26 18:37] suzon commented on #12630
@jeffbrown: Thanks for your response, But the main problem is in this project has 600+ Domains & related to Services, Controller as well as other utils. That's why project is taking too long to start and/or reloading. Searching for a better solutions

[2022-07-26 21:02] jaGarcia commented on #11649
I ran into this problem with abstract class being used as a base class for exception handling. Creating the explicit getter/setters for the abstract class instead of leaning on groovy to auto create then appears to have mitigated the issue. still doing further testing.

[2022-07-27 11:33] purpleraven commented on #12630
@jeffbrown I faced the same issue. With grails 4 I have used  oldstyle springloaded instead of spring-boot-devtools

[code]

But grails 5 not supports it anymore.
And now after any changes in classes I have to wait 1-2 minutes for context reload (mostly bootstrap and beans loading)
in development I start up application by **run-app** . I have spend some time, but didn't find a way, how to reload c

[2022-07-27 13:27] dambrosioj commented on #12626
@JasonTypesCodes
I would assume Weblogic is vulnerable as well running Java 8 and Databinding jars before 3.3.15.  Just curious as all the mentions are mostly of Tomcat.

[2022-07-27 13:59] chrismyers81 commented on #12626
@JasonTypesCodes, also, when will the details about the exploit be released? We want to make sure to keep ahead of that date.

[2022-07-27 16:41] chka commented on #14368
Same here, MacOS 10.15.7

[2022-07-27 19:29] monetschemist commented on #14250
Seems this issue is still open and I'm unable to conceive of a workaround.

In my case, it's not an association that's causing me problems, it's rather an inList constraint.

Basically what I want is the equivalent to the `placeholder=""` in the `<input>` tag, but for a `<select>`.  It seems to me that this is what the "noSelection" is for.

Maaaaaaaaaaaybe the solution could be to write a new ver

[2022-07-27 21:10] monetschemist commented on #14250
Actually it occurs to me that it might be better to make this kind of modification to `<f:widget>`, either so that it has a `noSelection` attribute or a `placeholder` attribute.

[2022-07-28 17:41] ng-druid commented on #11608
Same issue grails 3.2

[2022-07-29 02:52] mattmoss commented on #12633
I ran into this once before, when IntelliJ was running grails commands via the `org.grails.cli.GrailsCli` from the grails-shell project, and I believe it's that class/project generating the SLF4J messages, not your application.

@akiesh22 Can you describe an example situation where you see that error?

[2022-07-29 02:57] mattmoss commented on #12626
It would appear that NVD has CVSS at this time:  https://nvd.nist.gov/vuln/detail/CVE-2022-35912

CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H

[2022-07-29 14:54] jeffscottbrown commented on #11608
Dependency injection, by design, happens after data binding.  Because of that you cannot access DI'd properties during data binding.

[2022-07-29 15:08] jeffscottbrown commented on #11608
That is not really correct.  It is not the case that marking something as Validateable makes it a command object.  Any arbitrary Groovy class can be made Validateable.  Command objects are parameters controller action methods.

[2022-07-29 15:47] jeffscottbrown commented on #12630
@purpleraven I understand.  I am just addressing the question "Is there any way to stop reinitializing from BootStrap?" and I think the answer is no.  I don't know of anything built in that would allow BootStrap to make a distinction between a start and a restart.  If you were using a reloading agent, then a restart wouldn't happen, and that is why BootStrap doesn't get re-executed for those scena

[2022-07-29 15:57] jeffscottbrown commented on #11608
Constraint checking is done later in the process.  DI, binding, and constraint checking can't all happen before the other 2.

[2022-07-29 16:43] #11608 closed

[2022-08-01 07:23] akiesh22 commented on #12633
This is seen for every app generated with grails create-app, for grails 5.1.8.

[2022-08-01 14:53] mattmoss commented on #12633
@akiesh22 So, can you describe a specific CLI command, IntelliJ action, gradle task, etc... something that allows me to reproduce your issue?

[2022-08-01 17:53] akiesh22 commented on #12633
This is all to it.

1. in CLI : grails create-app logger
2. Go to intellij IDEA and run the app

<img width="661" alt="Screen Shot 2022-08-01 at 23 35 26" src="https://user-images.githubusercontent.com/24637655/182210993-202dc49c-adf0-4406-9d9d-f1b8b9c5d017.png">

[2022-08-01 18:04] aulea commented on #12352
I had to exclude also module 'grails-shell' from dependencies. Because it includes spring-boot-cli which has own WebApplicationInitializer and usually it will start war from from it, not from GrailsAppServletInitializer.

[2022-08-02 13:06] miguelabautista opened #12649 "Error deploying war with version 5.2.1"
### Expected Behavior

_No response_

### Actual Behaviour

with this version tomcat is failing because of this:

[code]

now it's complaining about white spaces in the path. is this expected from now on?

### Steps To Reproduce

_No response_

### Environment Information

- windows
- java 8

### Example Application

_No response_

### Version

5.2.1

[2022-08-02 14:25] puneetbehl commented on #12649
Please provide the steps to replicate or an example application.

[2022-08-02 15:08] mattmoss commented on #12633
So, it's cut-off at the top, but I'm certain that IntelliJ is launching your app via the `org.grails.cli.GrailsCli` class, and the SLF4J error message is coming from *that* class, not from your application.

I created an app following your step 1 above. Then, running in the same CLI `gradle bootRun` or `grails run-app`, I do not see the SLF4J error message.

[2022-08-03 06:55] #12625 closed, assigned to puneetbehl

[2022-08-03 12:15] puneetbehl commented on #12627
Closing this as it is a duplicate.

[2022-08-03 12:15] #12627 closed, assigned to nobody

[2022-08-03 12:27] puneetbehl commented on #12649
Please try with Grails 5.2.2 and reopen the issue with a sample application if you still see the problem

[2022-08-03 12:27] #12649 closed, assigned to nobody

[2022-08-03 14:04] puneetbehl commented on #12589
This should be resolved with 5.2.2

[2022-08-03 14:04] #12589 closed, assigned to puneetbehl

[2022-08-03 17:46] #12608 closed, assigned to nobody

[2022-08-03 17:53] fernando88to commented on #12152
I ran grails 5.2.2 with jdk 17 by ./gradlew bootRun and it worked normally.

[2022-08-04 15:29] JasonTypesCodes commented on #12625
Confirmed the fix in 5.2.2

[2022-08-04 16:04] 1442acb42ee0e3a727d7330e9755eb94 opened #12658 "run-command fails"
### Expected Behavior

The command should execute.

### Actual Behaviour

The command does not execute and fails with the following error message:

`/projects/grails521$ /opt/grails-5.2.1/bin/grails run-command test --stacktrace
<===========--> 85% EXECUTING [2s]

Missing application class name and script name arguments

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed

[2022-08-04 18:02] puneetbehl commented on #12658
It seems duplicate of #11588

[2022-08-04 18:03] #12658 closed, assigned to nobody

[2022-08-04 20:53] akiesh22 commented on #12633
Thank you very much, you are absolutely correct.

[2022-08-04 21:22] akiesh22 opened #12659 "micronaut-http-client not configuration properties not working"
### Issue description

I am new to the concept of micronaut-http-client and it's inner working. I have been following https://guides.grails.org/grails-micronaut-http/guide/index.html and https://docs.micronaut.io/latest/guide/#clientConfiguration. With these I am able to make a blocking http request to my service. However, I have tirelessly tried and failed to inject configuration via application.

[2022-08-04 21:38] #12633 closed, assigned to nobody

[2022-08-08 12:42] matrei commented on #12631
Hi, I found a solution to this problem using a multipart resolver:

[code]
and using it by declaring it as a spring bean (conf/spring/resources.groovy):
[code]

Now, in the controller, you can check "demo.fileSizeExceeded" in the request attributes and act the way you need.

[2022-08-08 13:46] ppazos commented on #12631
@matrei which version of grails are you using?

[2022-08-08 14:12] matrei commented on #12631
@ppazos Grails 5 for this project.

[2022-08-08 14:29] ppazos commented on #12631
@matrei I'm on 3.3.10, not sure if that will work but I'll test it. Tried something similar in the past but wasn't grabbing the exception.

[2022-08-09 03:13] puneetbehl commented on #12659
Please mention the version of Grails with steps to replicate and details of the error. Thank you!

[2022-08-09 22:34] peter-hal-con opened #12660 "Referring to Thing.gormPersistentEntity from inside domain class Thing causes exception during build"
### Expected Behavior

```./gradlew build```

should not throw exception

### Actual Behaviour

[code]

### Steps To Reproduce

[code]

### Environment Information

$ uname -a
Linux redacted 3.10.0-1160.2.1.el7.x86_64 #1 SMP Mon Sep 21 21:00:09 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux
$ java --version
openjdk 11.0.15 2022-04-19 LTS
OpenJDK Runtime Environment Corretto-11.0.15.9.1 (build 11.0.15+9-L

[2022-08-10 04:39] puneetbehl commented on #12660
I am not sure about the reason to do the above but you could workaround the problem by doing the following:

[code]

I think the reason you are seeing the above behavior is that GORM is not loaded when you are actually setting `Thing.gormPersistentEntity`. So, making it a static method instead of property may work because now it will ensure GORM is loaded and configured correctly before calling an

[2022-08-10 04:41] puneetbehl commented on #12660
I believe this is expected behaviour and not a bug.

[2022-08-10 04:46] puneetbehl commented on #12631
There will not be any patches for Grails 3, so you could verify that the above solution from @matrei works with Grails 5?

[2022-08-10 05:42] rchfox opened #12661 "stop-app fails when the app has a non-root context-path (in dev environment)"
### Expected Behavior

**grails>** stop-app
| Shutting down application...
| **Application shutdown**.

### Actual Behaviour

**grails>** stop-app
Shutting down application...
| **Error** Application not running

**grails>** stop-app **--stacktrace**
| Shutting down application...
| **Error** Application not running

[code]

**Note** that the `context-path` is missing in the URI `/actuator/shutdow

[2022-08-10 06:05] rchfox commented on #12661
Yes, I know the app can be terminated by other means:
-  Just quit the CLI: `grails> exit`
- `Ctrl+C` from the CLI
- `Ctrl+C` from `gradle bootRun`
- Using the actuator: `curl -X POST http://localhost:8080/myapp/actuator/shutdown`

However, this seems to be an easy-to-fix bug

[2022-08-10 12:39] peter-hal-con commented on #12660
`gormPersistentEntitfy` is required by the GORM GraphQL plugin:

https://grails.github.io/gorm-graphql/snapshot/guide/index.html#existing:~:text=dataFetcher(new%20SingleEntityDataFetcher%3C%3E(-,Author.gormPersistentEntity,-)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%40Override%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20protected

I believe that `gormPersistentEntity` is alre

[2022-08-10 14:00] puneetbehl commented on #12660
Yes, I think you should directly access the `gormPersistentEntity` method instead of wrapping it. But, I am a little confused regarding improvement. Is there some part I am missing because I don't see any improvement in assigning the method call result to a static variable? which is why you are seeing the above error.

Thanks!

[2022-08-10 14:02] puneetbehl commented on #12661
Personally, I don't use `stop-app` for the last few years. But, if you feel this is a quick fix please feel free to send a PR and I will try to merge it quickly.

[2022-08-11 14:26] jeffscottbrown commented on #12660
@peter-hal-con Can you articulate why it is that you want to have a static property in a domain class whose value is that of the domain class' `gormPersistentEnity` property? (https://github.com/spierepf/example2/blob/044f540562f8e555889fed4743c6dc3aa3b07d70/grails-app/domain/example/Thing.groovy#L8)

[2022-08-12 20:36] davidkron commented on #11405
Closing stale issue.

[2022-08-12 20:36] #11405 closed

[2022-08-13 11:35] paulosilva commented on #11646
Hi @jagritiS can you share the solution ?

[2022-08-15 21:25] ppazos commented on #12631
@puneetbehl nope, the project I'm maintaining is Grails 3.3.10, can't test on 5.

[2022-08-17 22:08] davidkron commented on #11753
@yuri1969 You are right about the `asset-pipeline-grails`. I created a new grails project and removed the `h2` and `asset-pipeline-grails` dependencies and with this h2 doesn't appear anymore in the built artifact. And it really seems that the problem is actually `grails-dependencies` and I am wondering what this dependency is even for: neither a newly created grails application or plugin includes

[2022-08-21 16:11] jnunderwood commented on #12279
@puneetbehl Hello. Is there any update on this issue? It is still a problem. Thank you.

[2022-08-25 18:23] jeffscottbrown opened #12676 "Integration Test Fails If App Contains Request Scoped Bean"
### Issue description

@ppazos report this issue at https://stackoverflow.com/questions/73436018/newly-created-grails-3-integration-test-no-thread-bound-request-found.

    Error creating bean with name 'xmlService': Scope 'request' is not active

He provided a sample project at [github.com/ppazos/grails_3_3_10_test_service](https://github.com/ppazos/grails_3_3_10_test_service).

[2022-08-27 02:25] ppazos opened #12678 "groovy.lang.GroovyRuntimeException: Cannot read write-only property: name"
### Expected Behavior

Version should save without problems.

### Actual Behaviour

See full context on StackOverflow https://stackoverflow.com/questions/73444833/grails-3-saving-complex-model-throws-cannot-read-write-only-property-name?noredirect=1#comment129797768_73444833

[code]

### Steps To Reproduce

git clone https://github.com/ppazos/grails_3_3_10_tests.git
cd grails_3_3_10_tests
grails r

[2022-08-27 09:00] puneetbehl commented on #12678
Could you please verify if this is also reproducible in the higher Grails versions?

Grails 3 is EOL, and it is very unlikely to receive any updates. Please read about Grails Support Schedule [here](https://grails.org/support-schedule.html)

[2022-08-27 15:04] ppazos commented on #12678
@puneetbehl I can't, sorry, I'm maintaining a grails 3.3.10 app, and it can't be updated in the short term.

[2022-08-29 08:04] puneetbehl commented on #12676
Grails 3 is EOL, and it is very unlikely to receive any updates. I am unable to replicate the problem in higher Grails version (I tried with Grails 4).
Please read about Grails Support Schedule [here](https://grails.org/support-schedule.html)

[2022-08-30 12:21] jeffscottbrown commented on #12676
Thanks @puneetbehl.

[2022-08-30 12:21] #12676 closed, assigned to nobody

[2022-08-30 13:02] jeffscottbrown opened #12681 "SHA256BytesCodecTests Has Wrong Source File Name"
The `org.grails.web.codecs.SHA256BytesCodecTests` class is defined in a source file named `SHA256BytesCodec.groovy` instead of `SHA256BytesCodecTests.groovy`.  See https://github.com/grails/grails-core/blob/c1e4a3bca157ecc2a24313d778ce2f40e1520bc5/grails-codecs/src/test/groovy/org/grails/web/codecs/SHA256BytesCodec.groovy.

[2022-08-30 20:03] akiesh22 commented on #12659
[grails-micronaut-http-master.zip](https://github.com/grails/grails-core/files/9456171/grails-micronaut-http-master.zip)

Please find the attachment, this is reproduced from https://guides.grails.org/grails-micronaut-http/guide/index.html.

As per the micronaut-http-document: https://docs.micronaut.io/latest/guide/#clientConfiguration, adding following configuration in application.yml file should

[2022-08-30 21:56] purpleraven commented on #12630
@jeffbrown is it tehnically possible to add support springloaded in grails 5? Or Grails 5 require java 11?
For Grails 4 it was added in one day after request.

[2022-08-31 05:58] puneetbehl opened #14360 "Slow application startup time due to increased datasource configuration time"
When using the old version 7.3.0, the application starts up in ~4 minutes.  But when using the newer version that the Grails cli defaults to for a Grails 4.1.1 application (which is hibernate-core:5.4.18.Final), it takes the application >15 minutes to start.

The application is using Multi-Tenancy with over 40 datasources. In 4.0.3/GORM 7.0.4/Hibernate 5.4.0, it takes ~6--7 seconds to configure ea

[2022-08-31 05:59] puneetbehl commented on #14360
Hibernate 5.4.11 is the first version of hibernate where the start-up slows down considerably. unfortunately, we are still getting the exception with 5.4.10

[2022-08-31 11:19] billgonemad commented on #14360
@puneetbehl  We were able to get Hibernate 5.4.0 to work.  The method throwing the exception was annotated with `@GrailsCompileStatic`  and removing that seems to fix the issue with using the older hibernate version.

[2022-08-31 16:32] JoshMart commented on #11385
Still seeing this issue on version 5.1.9

[2022-09-01 13:04] sagrawal31 commented on #12440
Any update here? We just upgraded our production app to Grails 5 and this seems to be a blocker.

[2022-09-01 13:49] sagrawal31 commented on #12592
Hi, @puneetbehl. I can reproduce this issue on a fresh Grails app. Followed these steps--

[code]

Change `provided` to `compileOnly` in `build.gradle` and then
[code]

**Environment**-

[code]

[code]

[2022-09-01 15:16] codeconsole commented on #12440
@sagrawal31 just switch `@GrailsCompileStatic(TypeCheckingMode.SKIP)`  to `@CompileDynamic`

[2022-09-02 07:43] sagrawal31 commented on #12440
Hi, @codeconsole. Thanks for the reply. Yes, for now I moved forward with `@CompileDynamic`. Thank you!

[2022-09-05 16:20] puneetbehl commented on #12592
It appears to be a problem with the conflict in the version of MongoDB Java Drier. I think adding the following to build.gradle will workaround the problem:

[code]

[2022-09-06 14:06] xpusostomos opened #12686 "grails empty app doesn't run in Docker"
- [ ] Steps to reproduce provided

It seems to me that an empty shell of a grails app does not start properly in docker.

[code]

and go to http://localhost:8888 ...
HTTP Status 404 – Not Found
Type Status Report
Message The requested resource [/] is not available
Description The origin server did not find a current representation for the target resource or is not willing to disclose that one exis

[2022-09-06 17:36] jeffscottbrown commented on #12686
FYI... I am using macOs and am using Docker Desktop 3.6.0 so those are 2 differences but the instructions described above work in that environment and the app does respond at http://localhost:8888/.

[2022-09-06 21:24] jeffscottbrown commented on #12686
Another FYI... A colleague has tested using Windows 10 and Docker Desktop 4.3.1 and confirms that he does see the error reported in the issue.

[2022-09-06 23:41] xpusostomos commented on #12686
It would appear that the problem was that my default java version was java 13 and the docker image I chose was java 11, and therefore somewhere in the depths of processing, it dies due to wrong java class version. However I'm surprised there is no log output for this.

[2022-09-07 05:00] sagrawal31 commented on #12592
Thanks, @puneetbehl. Adding this line solved this issue. I was trying to add this line `implementation "org.mongodb:mongodb-driver-sync:4.5.0"` but it wasn't working.

[2022-09-07 10:25] transentia opened #12688 "Jetty throws NotSerializableException for GrailsParameterMap"
### Expected Behavior

I have a fully working application that has always used Tomcat.
Thought I'd see if Jetty would give me a bit more performance.
Converted my build by referencing https://github.com/puneetbehl/grails-jetty-example
NO source changes outside build.gradle.
Expected no problems.
It seems to work so far, but I get MANY warnings on each page view about "java.io.NotSerializableExcept

[2022-09-07 16:46] jeffscottbrown commented on #12686
I am too.  Can you share what does show up in your Docker log?

[2022-09-07 16:47] jeffscottbrown commented on #12686
That makes the behavior make sense to me.  I thought you were using 11.  If you are building with 13 and running with 11, that is likely a significant factor.

[2022-09-07 16:55] jeffscottbrown commented on #12686
I have verified that on macOs if I build with JDK 17 (I don't have 13 installed) and then deploy with the instructions above, that I see the same problematic behavior, which I would consider expected.  I don't know why nothing is being logged, but otherwise the behavior makes sense to me.

[2022-09-08 03:07] transentia commented on #12688
I wonder if this arises from my SecurityInterceptor (excerpted):

[code]

I'm not sure I see any (reasonable) alternative to putting params into the session.

It seems to me that GrailsParameterMap should be serializable...for this use-case.

I'm also surprised that Tomcat doesn't complain.

[2022-09-08 03:24] transentia commented on #12688
My workaround:

[code]

Seems to do the job.

[2022-09-08 11:57] jeffscottbrown commented on #12686
It looks like the fact that the app won't startup probably isn't related to Docker, probably isn't something that Grails could address, and probably would behave the same for any Java app.  @puneetbehl I think this is probably a `not-a-bug`.  What do you think?

[2022-09-08 12:21] xpusostomos commented on #12686
You're probably right this is not a bug.. the one question mark in my mind is if something in default grails logging stops the error coming out.

[2022-09-08 13:19] maiconandsilva opened #12690 "grailsApplication.metadata.getServletVersion() throws java.lang.NullPointerException"
### Expected Behavior

Calling `grailsApplication.metadata.getServletVersion()` should return version 3.0 if none is configured, or the configured version otherwise.

### Actual Behaviour

Calling `grailsApplication.metadata.getServletVersion()` with **no** configured servletVersion throws the following:

[code]

### Steps To Reproduce

1. Having no configured servletVersion
2. Run code with `Hold

[2022-09-08 13:56] maiconandsilva commented on #12690
Adding the following to `application.yml` also solves the problem as explained [here](https://stackoverflow.com/questions/73650279/grails-util-metadata-getservletversion-throws-java-lang-nullpointerexception/73650280#73650280)

[code]

[2022-09-09 04:16] #12592 closed, assigned to puneetbehl

[2022-09-12 18:38] #12686 closed, assigned to nobody

[2022-09-12 18:38] jeffscottbrown commented on #12686
"the one question mark in my mind is if something in default grails logging stops the error coming out" - I think the answer is "no". AFAIK there is nothing in the default grails logging that is affecting that.

[2022-09-13 10:58] lpoiana commented on #14270
@xpusostomos  did you found a solution? i have the same problem...

[2022-09-14 06:05] tircnf opened #14359 "Schema Generation creates bad joinTable when multiple associations point to the same type of object."
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create two domain classes.
2. Make two one-to-many associations between the two objects.
3.  Try and save a value to the association.

### Expected Behaviour

Associa

[2022-09-14 06:59] #12690 closed, assigned to nobody

[2022-09-14 13:48] chrismyers81 commented on #12626
Now that we're about two months down the road, when will details about the vulnerability be posted?

[2022-09-15 13:41] JasonTypesCodes commented on #12626
We will post an update when details are released.  At this time, we want to continue to give organizations the opportunity to patch and release their Grails applications.

[2022-09-15 16:45] puneetbehl commented on #12596
You should be able to workaround by moving repositories block in the file `build.gradle` under allProjects as:

[code]

[2022-09-16 02:50] tircnf opened #14358 "many-to-many associations misbehave when the belongsTo property is missing. No errors, but no data is saved."
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Create two domain classes with a hasMany relationship between the two
2. Try and save a relationship

### Expected Behaviour

Either an exception should be thrown war

[2022-09-21 16:07] sghatuwa opened #12710 "Grails 5.1 multi plugin dependency issue"
### Expected Behavior

Main app: A (Depends on B)
Plugin: B (Depends on C)
Plugin: C
Suppose, if we have some services or files or dependencies in Plugin C, then we can easily access any file or dependency file of **Plugin C from Main App A** (**Reason:** Main App depends on plugin B and plugin B depends on plugin C).

This is working fine for Grails 3.1.6 and Grails 3.3. So, must be working for G

[2022-09-21 21:59] leopinho opened #14357 "Multi tenancy with multiple datasources is not working"
If I add "implements MultiTenancy" to the domain class, it tries to use default datasource instead of the one defined in the datasource mapping field and then it returns a table not found error.

If I remove "implements MultiTenant"  or remove the multiple databases setup, everything works fine.

[code]

[2022-09-22 15:47] davebrown1975 commented on #14419
Any comment on this issue?  This is STILL present in Grails 5

[2022-09-26 16:56] basejump opened #14356 "Setup DataSource early to take advantage of AutoConfiguration"
Its looks to me like we can have an AutoConfiguration that will work with both Grails or Spring Boot/Micronaut.

- If we use AutoConfiguration to setup the DataSource early using the  then all the other AutoConfiguration that depend on datasource can be taken advantage of.
- as it stands no in grails-plugin, its setup to late in the process for the other Autoconfigurations to get picked up
- grail

[2022-09-28 11:20] mcepar opened #12717 "Grails application reachable before fully deployed"
### Expected Behavior

The Grails application should not allow users to make HTTP requests before the application is fully deployed.

### Actual Behaviour

The application accepts and actually processes HTTP requests before 'com.valsight.BootStrap#init' has finished executing.

This is especially problematic in relation to the "org.grails.plugins:database-migration" plugin, because the app process

[2022-09-28 15:42] mattmoss opened #12718 "Grails framework incorrectly allows data binding to static properties"
### Issue Description

A bug was found in the Grails framework data binding logic that incorrectly permits data binding to static properties under certain conditions.

More information is available on the Grails blog at https://grails.org/blog/2022-09-28-static-binding-bug.html

I have opened this issue to facilitate discussion of this bug.

### Status: Fixed

For Grails 5, the bug fix is availabl

[2022-09-28 16:38] leadtrip opened #12719 "Unable to configure CORS for multiple mappings"
### Expected Behavior

Adding cors mappings with lists of allowedOrigins to application.yml should result in these mappings being applied when making relevant cors requests.

### Actual Behaviour

The mappings aren't applied and access is open to all.

### Steps To Reproduce

In development environment.

With this config
[code]

Make a fetch request to /word/googleOnly in the linked app from a bro

[2022-09-29 02:11] ice1080 commented on #12718
Hello! Thanks for identifying this bug.
The blog mentions that this can occur when "manually calling bindData (or one of several variants)"; do you happen to have a list of the other variants that can also cause this issue to occur?

[2022-09-29 10:00] boardbloke commented on #12718
I am interested to know whether it necessary to update plugins that target Grails 5.x but are built Grails versions prior to 5.2.3.  That is, is it enough to update just the Grails version that pulls in the plugins, or does each plugin that targets Grails 5.x need to be  upgraded as well?

[2022-09-29 15:49] mattmoss commented on #12718
The most common variants would come from classes in the `grails.web.databinding` package:
- [DataBinder](https://github.com/grails/grails-core/blob/5.2.x/grails-web-databinding/src/main/groovy/grails/web/databinding/DataBinder.groovy)
  - This trait is applied by Grails to every controller (via the `Controller` trait), so it's not uncommon to see one of these `bindData` variants used in controller

[2022-09-29 17:22] mattmoss commented on #12718
In the typical case, it should be sufficient to upgrade/update the application using the plugin.

However, I can't answer for all possible build configurations. A review of your gradle (or other build tool) configuration would be a good idea. Using `gradle dependencies` or creating a gradle scan can help to identify exactly what dependencies are being brought in, which are prioritized, etc.

[2022-09-30 19:35] puneetbehl commented on #12719
I think this is the result of something which has changed with Spring Boot, see https://github.com/spring-projects/spring-boot/issues/6180

The solution would be to fix the class to use the type `Map<Sting, List<Sting>>` instead of `Map<String, Object>` where in the latter a list is converted to a hash map.

A workaround is to provide the configuration through the `application.groovy` file instead

[2022-10-01 15:05] sghatuwa opened #12720 "Grails 5.1 multi plugin dependency issue"
### Expected Behavior

Main app: A (Depends on B)
Plugin: B (Depends on C)
Plugin: C
Suppose, if we have some services or files or dependencies in Plugin C, then we can easily access any file or dependency file of **Plugin C from Main App A** (**Reason:** Main App depends on plugin B and plugin B depends on plugin C).

This is working fine for Grails 3.1.6 and Grails 3.3. So, must be working for G

[2022-10-04 10:54] amaciejk commented on #12596
Watching (also have this issue using 5.2.3 and the above workaround does not seem to help)

[2022-10-05 15:44] CJD888 commented on #14212
The problem is in FormFieldsTagLib.groovy renderNumericInput() which added localized number formatting. I guess It should not apply formatting when rendering an edit field somehow.

A quick fix is to disable localized numbering using config grails.plugin.fields.localizeNumbers = false

[2022-10-06 12:29] davidkron commented on #12181
Almost a year later, this is still not fixed.

[2022-10-10 21:26] solaechea commented on #14457
I think this should work:
[code]

[2022-10-11 07:09] jphiloon commented on #12469
I can, but I won’t have time to do that until next week.  The example would have two projects – one for the plugin, one for the main app.

From: Michael Yan ***@***.***>
Sent: Monday, April 4, 2022 10:43 AM
To: grails/grails-core ***@***.***>
Cc: Jay Philoon ***@***.***>; Mention ***@***.***>
Subject: Re: [grails/grails-core] Grails 4 - Domain class in plugin overrides same class in application (I

[2022-10-13 05:47] #12596 closed, assigned to nobody

[2022-10-13 17:39] lynchie14 opened #12725 "Grails 5.2 - grails-datastore-gorm-hibernate5 being downgraded by Micronaut"
### Expected Behavior
grails-datastore-gorm-hibernate5-7.3.2.jar in packaged war file

### Actual Behaviour

Default new app in 5.2.4 contains

[code]

and gorm.version=7.3.2 in the gradle.properties

However when packaging and building jar the micronaut bom is downgrading the jar to 7.2.2

[code]

War file contains older jar

[code]

### Steps To Reproduce

_No response_

### Environment Informat

[2022-10-14 03:05] puneetbehl commented on #11318
There has been discussion around it in the Grails Engineering Meeting and the argument is that the generated code is actually considered a part of the application. So, it was discussed that by default the `@Generated` annotation should NOT be added and a configurable option should be allowed to change this behavior.

[2022-10-14 07:01] mlkristiansen commented on #11318
@puneetbehl I am reading this as you think the framework testing should be done by everyone using the framework, and not just by framework developers? (I hope I am misunderstanding you)

[2022-10-14 08:34] andersaaberg commented on #11318
@puneetbehl : then we need to set that configuration for all of our projects - that does not really seem to adhere to "convention over configuration". How come can the default not be to add `@Generated`? Then it can be disabled for the corner cases (e.g. testing the framework).

[2022-10-14 08:47] sbglasius commented on #11318
I agree with @andersaaberg, as developer using Grails we should not opt-in to run code coverage for parts not related to our own application. For coverage for Grails itself it should opt-out instead

[2022-10-14 16:34] rainboyan commented on #12373
Before updating to Groovy 4.0, Grails Core and GORM should be migrate to [Groovy 3.0](https://groovy-lang.org/releasenotes/groovy-3.0.html), because some legacy packages have been removed, like `groovy.util.XmlSlurper` which was still used in module `grails-databinding`.

We can do this by forcing the project dependencies to be upgraded to Groovy 4,

[code]

but this is far from enough. When I wen

[2022-10-15 16:27] codeconsole commented on #12373
@rainboyan aren't Grails Core and GORM already Groovy 3?

https://github.com/grails/grails-core/blob/5.2.x/gradle.properties#L14
https://github.com/grails/gorm-hibernate5/blob/7.3.x/gradle.properties#L7
https://github.com/grails/grails-data-mapping/blob/7.3.x/gradle.properties#L25

I can confirm Grails 5 already works with JDK 17

[2022-10-15 16:27] codeconsole commented on #12152
I can confirm JDK 17 is now working

[2022-10-15 16:27] #12152 closed

[2022-10-15 18:32] rainboyan commented on #12373
What I mean is that, currently Grails Core and GORM still using some _deprecated class having the old package name_, not the **new class having the new package name**. When a new Grails 5 app upgrade to Groovy 4.0, but it would not be working.

IMO, Grails Core and GORM should compile and test passed with Groovy 4, and build target for Groovy 3, so Grails 5 app could using Groovy 3 or 4.

[2022-10-15 19:09] codeconsole commented on #12373
Thanks for [clarifying](https://groovy-lang.org/releasenotes/groovy-3.0.html).  That makes sense.

[2022-10-17 04:25] puneetbehl opened #12727 "Error with a newly created Grails project using MongoDB feature"
### Expected Behavior

The new Grails application should run without any errors.

### Actual Behaviour

Error downloading the dependencies of the newly created Grails application with the Grails rest-api profile and MongoDB as follows:
[code]

### Steps To Reproduce

1. Create a new Grails application with the command 'grails create-app publiclibrary --profile rest-api --features mongodb`
2. Impor

[2022-10-17 10:09] boardbloke commented on #11318
+1 for this we have upgraded to Grails 5 but we have to justify the code coverage metrics to product managers on every release.  Its not pleasant.

Also - I noticed that some PRs made by @aulea that @puneetbehl added to the 7.0.x branch of data-mapping in https://github.com/grails/grails-data-mapping/issues/1445 haven't been applied to later versions, so its not available in Grails 5.1+.  I raised

[2022-10-17 13:33] fernando88to commented on #11318
I'm upgrading an application from grails 2 to grails 5 and I chose to use open clover even though it doesn't support groovy 3. I have some problems but the coverage is better than jacoco.

[2022-10-19 06:09] Crackpack opened #12732 "Grails 5.2.3 run-app stuck at 25% Executing on MultiProject MultiTenant Project for over 30 minutes"
### Expected Behavior

Project should complete smoothly or show any errors for further debugging

### Actual Behaviour

[code]
### Steps To Reproduce

In grails 5.2.3, multiproject multitennat project. We are upgrading our grails version from 3.3.9 to grails 5.2.3

I am able to run projects successfully with domain and services plugins only. Having issues when integrating controllers plugin.
We ha

[2022-10-19 06:35] puneetbehl opened #12733 "Gradle java.lang.AbstractMethodError when build Grails 5.1 project with Grails Gradle Plugin 5.2"
### Expected Behavior

The project should build without any errors.

### Actual Behaviour

[code]

### Steps To Reproduce

Please look at the following pull-request:

https://github.com/grails/grails-spring-security-core/pull/769

### Environment Information

- GitHub Workflow
- Java 8

### Example Application

https://github.com/grails/grails-spring-security-core/pull/769

### Version

5.1.1

[2022-10-19 07:51] #12733 closed, assigned to puneetbehl

[2022-10-19 10:59] puneetbehl commented on #12732
Sorry that you are facing issues while upgrading the application. However, it is very difficult to identify the problem without a sample application. One possible problem might be insufficient memory settings. I would suggest checking how much JVM Memory is allocated to the Java process.

[2022-10-19 11:31] #12727 closed, assigned to nobody

[2022-10-19 11:59] puneetbehl commented on #12725
As a workaround, you could add the following to your build:

[code]

[2022-10-19 19:08] Crackpack commented on #12732
I have added memory in grails project in 2 files.
In main build.gradle file, i have added following lines:
[code]
and in gradle .properties file:
`org.gradle.jvmargs=-Xms4g -Xmx12g`

Now that, I am using YourKit Java Profiler. I see that the process is being held by GradleWorkerMain.
And its allocated memory is only 488 MB.

I have tracked down to only 2 controllers in the plugin are giving issue.

[2022-10-20 08:09] Crackpack commented on #12732
In main build.gradle file,I have tried
[code]

in gradle.properties file, i have tried:
`org.gradle.jvmargs=-Xms4g -Xmx12g -XX:NewSize=2048m -XX:MaxNewSize=2048m -XX:MaxPermSize=2048m`

in gradlew file line 32 I have added GRADLE_OPTS:

[code]

nothing seems to increase Memory for "GradleWorkerMain"

[2022-10-20 12:11] puneetbehl commented on #12732
I believe the settings are correct. Can you try to create a brand new Grails application and verify if you are able to change memory? Also, try setting `org.gradle.daemon=false` in the gradle.properties file of your existing project.

[2022-10-21 03:26] puneetbehl opened #12739 "Use Maven Central directly instead of proxying via https://repo.grails.org"
### Feature description

Currently, we proxy Maven Central in our Grails artifactory instance. I believe we should stop proxying large public repositories and instead use them directly.

**What should happen now?**

The newly created Grails project/applications should have `mavenCentral()` present in their build.gradle file as:
[code]

**What should I change in the existing application?**

Just up

[2022-10-21 03:30] #12739 closed, assigned to nobody

[2022-10-21 09:42] Crackpack commented on #12732
i added following line in build.gradle file and also set `org.gradle.daemon=false` and` org.gradle.parallel=true`

[code]

this did the trick. Thank you for pointing me to right direction. :)

[2022-10-21 09:43] #12732 closed, assigned to nobody

[2022-10-21 11:34] lynchie14 commented on #12725
Even on a clean project with latest snapshot your most recent spring boot change from 2.7.0->2.7.5 is not being picked up and also being downgraded to 2.7.0.

These workarounds work, but it would be good if the versions defined in grails-core were used by default rather than having lots of the above conditions for each affected group

[2022-10-21 14:16] #12503 closed, assigned to nobody

[2022-10-21 14:16] #12500 closed, assigned to nobody

[2022-10-21 14:16] #12539 closed, assigned to nobody

[2022-10-21 14:17] #12538 closed, assigned to nobody

[2022-10-21 14:17] #12534 closed, assigned to nobody

[2022-10-21 14:18] #12537 closed, assigned to nobody

[2022-10-21 14:22] #12389 closed, assigned to nobody

[2022-10-22 18:20] demus-nine commented on #11318
While the generated code is indeed part of the application, it is also undeniably generated. The generated annotation doesn't make any assertions about the frameworkishness or applicationness of the generated code, just that is generated.
The whole point is to not include generated code in coverage, as the correctness of the code-generator is presumed to be verified in and of itself.

[2022-10-23 08:31] xqliu commented on #14547
This issue still exists on grails latest 5.x version.

[2022-10-23 13:52] upgradepa opened #14355 "How to prevent mongodb sql injection with go"

[2022-10-24 16:51] jarantes17 opened #12743 "Grails 5 - Unable to deploy on Wildfly 26.1.2"
I'm trying to deploy my grails application (latest stable version 5.2.4) on Wildfly application server (version 26.1.2). I've dealt with some log-related conflict points, however, now I'm getting the following error:

[code]

This seems to have something bug from micronaut dependency. Maybe the issue below:
https://github.com/micronaut-projects/micronaut-core/issues/7144

Gradle dependencies:
[cod

[2022-10-24 17:18] gabrielpadilh4 commented on #12743
Hello Guys, i'm facing the same issue with the latest version of Grails. If we use an older version(Grails 3 for example), the application is deployed with success and works normally.

[2022-10-24 19:30] gilbertozzz commented on #12743
I would like to update grails to version 5, but I will do it after solved.

[2022-10-28 14:16] puneetbehl commented on #12725
The most recent Grails application currently uses an older version of the Grails Gradle Plugin. So, if you also update the Grails Gradle Plugin version in the gradle.properties file then the Spring Boot version must also be updated.

I think excluding the micronaut-bom dependency might solve the other part of the problem.

[2022-10-31 04:49] naruto0426 commented on #14460
@longwa  Can you help to build a new tag released include this patch. Without this patch, the error for save failed will be wrong when it has embedded column that is not declared as entity.

[2022-10-31 15:25] puneetbehl commented on #11318
After thinking about my previous comment, I think adding a "generated" annotation would be a good idea, which simply means it's a generated code.

Currently, I am working on the corresponding pull request, please check my comments for more information.

[2022-11-01 12:30] chrisbrookes opened #14354 "Domain Merge does not flush dirty fields to datastore"
I'm trying to manage updates to a domain object through different controller actions with the object stored in the session. At the end of the editing I'm doing a merge to push the changed fields of the object to the datastore. The merge completes without error but the changes are not sent to the database.

I've reproduced with a simple project -
[grailsMergeBug-bug-report-01112022.zip](https://git

[2022-11-01 13:15] lynchie14 commented on #12725
Updated the gradle plugin to the latest 5.2.4-SNAPSHOT and its now updating spring boot to 2.7.5

[2022-11-01 13:44] chrisbrookes commented on #14354
The only workaround I've found for this is to call `markDirty()` on the object returned from the merge method:

[code]
The object then gets saved after the method exits and the transaction gets flushed / committed. Probably quicker not to pass in `flush: true` to the merge when doing it this way.

[2022-11-01 14:00] #12725 closed, assigned to nobody

[2022-11-07 09:31] sflohrs opened #12751 "Grails ignoring serverURL"
### Expected Behavior

grails should pick up serverURL from configuration file(s) (compare with:
[https://github.com/grails/grails-core/issues/10770](https://github.com/grails/grails-core/issues/10770))

`grails-app/conf/application.yml`

[code]
To output the value of serverURL change `Bootstrap.groovy:`
[code]
Build project:
`./gradlew build`
Run project:
`java -jar build/libs/serverurl-0.1.war`

[2022-11-07 11:39] agre1981 opened #12752 "Documentation: dependency part han't been updated"
### Expected Behavior

Those sections information does not match actual [gradle.properties](https://github.com/grails/grails-core/blob/5.2.x/gradle.properties)

http://docs.grails.org/snapshot/guide/single.html#whatsNew
http://docs.grails.org/snapshot/guide/single.html#dependencyUpgrades

### Actual Behaviour

Grails 5.2.4 ships with the following dependency upgrades:

Groovy 3.0.7

Micronaut 3

M

[2022-11-07 18:28] codeconsole commented on #12373
Micronaut Groovy ready for Groovy 4
https://github.com/micronaut-projects/micronaut-groovy/issues/322#event-7558717036

Micronaut Groovy held up until GORM 8
https://github.com/micronaut-projects/micronaut-groovy/pull/414

[2022-11-07 22:24] PhilippeRossTraction commented on #14371
We have the same problem. Did you find any other solution?

[2022-11-08 07:53] sflohrs commented on #12751
Thinking about this again maybe this is by design and was a misunderstanding on my part?
Until now I deployed grails apps using a tomcat environment behind a reverse proxy, the listening options were set in the tomcat environment.

Now with a JAR deployment grails has its own, intrinsic webserver.
The port can be set in the environment using
[code]
The port setting is independent of the grailsURL

[2022-11-09 20:10] fernando88to opened #12757 "Downloading old versions of grails doesn't work in sdkman"
### Expected Behavior

To install a version of grails on the computer.

### Actual Behaviour

When trying to install an old version of grails an exception is thrown.

`Downloading: grails 2.1.0

In progress...

-=O#-   #       #        #
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case th

[2022-11-10 11:47] lynchie14 opened #12758 "Grails 5.2.5 - Gradle plugin 5.2.4 is referenced but it has not been released yet."
### Expected Behavior

Think it needs it's own release as only the 5.2.4 snapshots are available

### Actual Behaviour

_No response_

### Steps To Reproduce

* What went wrong:
A problem occurred configuring root project 'test'.

     Searched in the following locations:
       - https://plugins.gradle.org/m2/org/grails/grails-gradle-plugin/5.2.4/grails-gradle-plugin-5.2.4.pom
       - https://re

[2022-11-10 12:13] puneetbehl commented on #12758
Sorry for the inconvenience, this should be resolved now.

[2022-11-10 12:13] #12758 closed, assigned to nobody

[2022-11-10 12:29] lynchie14 commented on #12758
Thanks, working now.

[2022-11-10 16:29] #12718 closed, assigned to nobody

[2022-11-10 17:38] purpleraven commented on #12630
@jeffbrown I have rechecked springloaded with grails 5. That works same with grails 4:
Works, but fails on @transactional annotations. I see new 1.3.0 version on https://github.com/spring-projects/spring-loaded. But the version fully brocken.
Any Ideas? Does somebody use it at all?
For me java 8 + spring loaded in dev much better then spring boot reload

[2022-11-11 09:35] sunsilong-pacvue opened #12761 "Does grails framework support the scala language"
### Issue description

I want to be able to write scala in the grails framework

[2022-11-11 15:20] vkissoyan commented on #12757
This is happening on everything below 3.0 it seems can reproduce on 2.2.1

[2022-11-14 05:00] puneetbehl commented on #12761
Please use Grails Slack for questions. https://grails.slack.com.

I don't think there is any support for Scala with the Grails framework. But, I found some resource which may be useful to you:

https://vilimpoc.org/blog/2014/03/25/grails-groovy-scala-and-akka/
http://www.christianoestreich.com/2011/04/mixing-grails-groovy-scala-java/
https://github.com/ctoestreich/grails-scala
https://stackoverflo

[2022-11-14 05:00] #12761 closed, assigned to nobody

[2022-11-14 05:06] jchharris commented on #11753
Has there been any way to exclude h2 from the built war file?  The 1.4.200 version of H2 now has security vulnerabilities hence having it the production war file is problematic.

- CVE-2022-23221
- CVE-2021-42392
- CVE-2021-23463

[2022-11-14 05:46] sunsilong-pacvue commented on #12761
think you very mach

[2022-11-14 17:00] tonyerskine commented on #14547
I had to work around this with an abstract class. I would love a cleaner solution:

[code]

[2022-11-14 18:30] yuri1969 commented on #11753
@davidkron Recently, [Grails 5.2.5](https://github.com/grails/grails-core/releases/tag/v5.2.5) has updated the [base profile to 5.1.1](https://github.com/grails-profiles/base/releases/tag/v5.1.1). That one includes updated [asset-pipeline to 3.4.7](https://github.com/bertramdev/asset-pipeline/releases/tag/rel-3.4.7) which includes the [PR](https://github.com/bertramdev/asset-pipeline/pull/300) fix

[2022-11-14 20:53] jchharris commented on #11753
@yuri1969 I haven't yet.  I am on Grails 5.2.4 and I had upgraded asset-pipeline to 4.0.0 but H2 was still appearing in the WAR.  I will try upgrading Grails and report back.

[2022-11-15 10:14] sunsilong-pacvue opened #12767 "I find the grails framework very memory intensive. Is there any way to reduce memory?"
### Issue description

<img width="512" alt="image" src="https://user-images.githubusercontent.com/24616352/201893312-3fe58ffb-4a44-4a89-bb35-c9fa373afb1f.png">

[2022-11-15 15:41] jeffscottbrown commented on #12757
FYI... I don't believe that is true.  I think there are some pre 3.0 releases that look fine...

[code]

[2022-11-16 00:37] jchharris commented on #11753
@yuri1969 That solved it coming in through Grails itself, however some Grails plugins drag it in as well:

[code]

I'll see if I can get Gradle to exclude them

[2022-11-16 10:59] igorko opened #12770 "Spring Filter not applied to asset requests"
### Expected Behavior

Spring Filters are applied to asset requests in Grails 2. Now, in Grails 4 and 5 this doesn't work.

### Actual Behaviour

I have tried to apply CharacterEncodingFilter to assets, but assets requests are not coming through this filter. Also the same happens with any custom Filters, registered through FilterRegistrationBean.

### Steps To Reproduce

1. Create empty applicatio

[2022-11-16 15:34] horizondave commented on #12596
This error is still happening to me on 5.2.5.
Workaround above does not make any difference.

[2022-11-16 18:47] yuri1969 commented on #11753
@jchharris You are right, I haven't checked the plugins... I'll see if I can go through at least some of them.

[2022-11-16 21:06] jchharris commented on #11753
Thanks @yuri1969.  I think "io.github.gpc:jms" may also have a similar problem.  grails-dependencies is set as a runtime dependency.

[2022-11-17 17:12] igorko commented on #12770
I was able to attach filter to resources by setting order to Ordered.HIGHEST_PRECEDENCE. When using Ordered.LOWEST_PRECEDENCE order, filter is skipped by asset requests. Not sure if this is correct solution.

[2022-11-20 02:58] rahulagrawal commented on #11250
I was reading this  - https://maven.apache.org/docs/3.8.1/release-notes.html#the-detailed-issue-list
Where by default http is blocked starting with maven 3.8.1.
My question is that if a local project is using maven 3.8.1 or higher and the latest and greatest version of java 8, will that technically be enough to get the confidence that the above issue of man in the middle attack is ruled out.
The r

[2022-11-20 18:02] yuri1969 commented on #11753
The liquibase-hibernate-related H2 leak can be tracked under https://github.com/liquibase/liquibase-hibernate/pull/444.

[2022-11-21 15:30] jeffscottbrown commented on #12751
I think that is correct.

`grails.serverURL` is not intended to affect what port the server starts up on.

[2022-11-23 10:36] davidkron opened #14211 "GSON-Views can't handle immutability?"
We integrated `grails-views` into an older existing application to provide a good JSON developer experience for newly created and modern single-page applications. We already had some JSON-Endpoints that render a simply model using the Grails JSON marshaller like this:
[code]

A lot of those broke in our application and the reason seems to be that `grails-views` can't handle immutable models, which

[2022-11-24 19:52] codeconsole opened #12776 "BUG: Grails 5.2.5 Triple Logging - GrailsExceptionResolver logs exceptions 3 times"
### Expected Behavior

Exception should only be logged once.

[code]

### Actual Behaviour

Same exception is logged 3 times!

[code]

### Steps To Reproduce

[code]

### Environment Information

[code]

[code]

[code]

### Example Application

https://github.com/codeconsole/grails-triple-logging-bug

### Version

5.2.5

This happens because the `filterStackTrace(ex);` logs the trace twice while i

[2022-11-26 06:24] growsol commented on #11562
Try to set [disable offline mode](https://i.stack.imgur.com/UhVBN.png),
 then re-sync -> re,build

[2022-11-26 12:47] chrisbitmead opened #12777 "Custom configuration not working"
### Expected Behavior

I have an existing grails 3 app, trying to upgrade to grails 5. It loads its own configuration like this:

[code]

In other words, it uses the EnvironmentAware interface so that it can append extra configuration from its own config file. This used to work fine up until at least grails 3, I think also 4 but it's definitely broken in grails 5.0 onwards to 5.2

Oh, one other th

[2022-11-27 03:56] chrisbitmead commented on #12777
I made the above example app. You will see in Application.setEnvironment, if you just include the first 3 lines of a manually constructed Map of values, (and comment out the rest of the function) that server.port is correctly picked up and it starts on 8083. However... if you include all of Application.setEnvironment as in the example app, it fails.

If you create a config file (set the environmen

[2022-11-27 10:09] wureka opened #12778 "Receiver class grails.util.Environment does not define or inherit an implementation of the resolved method 'abstract java.lang.Object getProperty(java.lang.String)' of interface groovy.lang.GroovyObject"
### Expected Behavior

[code]

### Actual Behaviour

[code]

the content of the default generated build.gradle is:

[code]

### Steps To Reproduce

[code]

### Environment Information

- OS: Ubuntu 20.04 LTS 64bit
- JDK Version: OpenJDK 11.0.16

### Example Application

_No response_

### Version

5.2.5

[2022-11-28 02:52] chrisbitmead commented on #12777
I'm closing this because I've narrowed down the problem more and will reopen with a more focused bug report

[2022-11-28 02:52] #12777 closed, assigned to nobody

[2022-11-28 13:49] olavgg commented on #12767
Have you set the Xmx to something? I run medium sized applications with Xmx=512M

[2022-11-29 05:00] Annie-12 commented on #12757
Facing the same issue with grails 2.3.4 while installing in WSL2 .
Tried downloading and extracting the zip for grails 2.3.4 but that also throw exception .

[2022-11-29 11:21] jhron commented on #14545
We ran into the same problem.

The use case is, that we have a domain, which we test for validity first. In case that there is an error only in specific properties, errors are cleared and domain can be further processed afterwards. In the end validation is called again. This is the final validation which should decide about domain validity.

First validation is done over domain validation because

[2022-11-29 19:46] jeffscottbrown commented on #12767
Have you profiled the application to discover what is using most of the memory?

[2022-11-30 16:07] codeconsole opened #12794 "Spring Boot 3.0 Support"
### Feature description

Spring Boot 3.0 has been released with a JDK 17 baseline.

https://spring.io/blog/2022/11/24/spring-boot-3-0-goes-ga

Currently, it is possible to build and run Grails with JDK 17, but the most breaking change has been a switch to Jakarta EE 9 Baseline and the new `jakarta` namespace which should be done in parallel with upgrading to Groovy 4.0 https://github.com/grails/gr